<!-- first block -->
<div class="first-block"></div>
<!-- CONTENT CRUMBS -->
<!-- #crumbs page title bar and filters -->
<div id="content-filters"></div>
<!-- grid filters projects -->
<div id="content-grid-filter-projects"></div>