{{!--<ul class="site-nav scroll-nav">--}}
	<li class="smoothScroll animation-slideDown"><a class="href" id="scrollTo-home">Inicio</a></li>
	<li class="smoothScroll animation-slideDown"><a class="href" id="scrollTo-view-projects">Portafolio</a></li>
	<li class="smoothScroll animation-slideDown"><a class="href" id="scrollTo-view-services">Servicios</a></li>
	<li class="animation-slideDown"><a id="go-blog">Blog</a></li>
	<li class="animation-slideDown"><a id="go-contact">Contacto</a></li>
{{!--</ul>--}}