<!-- first-block -->
<div class="first-block">
</div>
<!-- #crumbs for page title bar and top navigation -->
<div id="crumbs" class="black dark">
	<div class="row large">
		<!-- page title/statement -->
		<h6 class="sub-heading"><a id="return-home"><span>INICIO</span></a>&nbsp; / &nbsp; POLITICAS DE PRIVACIDAD</h6>
	</div>
</div>
<!-- page content -->
<section class="grey stripe-bg">
	<!-- two third /left side-->
	<div class="two-third white">
		<div id="single-page">
			<div class="content-block">
				<!-- page title / description -->
				<div class="row">
					<h3 class="bold">AVISO DE PRIVACIDAD</h3>
					<hr class="thin grey">
				</div>
				<div class="row">
					<p>
						De conformidad con lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, nos permitimos solicitarle leer cuidadosamente el contenido contenidos en este documento, ya que la aportación que haga de sus datos Personales y/o Datos Sensibles constituye la aceptación de estos Términos y Condiciones:
					</p>
					<p>
						Medigraf a través de su representante legal, el Sr . Juan Carlos Peña Rubio, con domicilio en Av. Acueducto 3195-B. Col. Loma Bonita Ejidal en Tlaquepaque, Jalisco, es responsable del tratamiento de sus datos personales.
					</p>
					<h5 class="bold purple-text">Datos de contacto.</h5>
					<p>
						Puede contactarnos a través de correo electrónico a <a href="mailto:info@medigraf.com.mx?subject=feedback" "MEDIGRAF">info@medigraf.com.mx</a> o a través del siguiente número telefónico: <span style="color: rgb(237,108,0);">(33)3671-1857</span>.
					</p>
				</div>
				<div class="row">
					<h5 class="purple-text bold">Sobre sus datos personales.</h5>
					<p>
						 Sus datos personales serán utilizados con el siguiente objetivo:
					</p>
					<ul class="check-list">
						<li>Proveer la información y servicios requeridos por usted.</li>
						<li>Enviar avisos y comunicados de importancia referentes a la empresa.</li>
						<li>Mercadotecnia y publicidad.</li>
						<li>Para análisis estadístico interno.</li>
						<li>Dar seguimiento a nuestra relación comercial.</li>
					</ul>
				</div>
				<div class="row">
					<h5 class="purple-text bold">Datos personales que recabamos.</h5>
					<p>
						 Para el objetivo señalado en el presente Aviso de Privacidad, recabamos de forma directa los siguientes datos personales a través de los formularios de contacto o registro incluidos en este sitio.
					</p>
					<ul class="check-list">
						<li>Su nombre.</li>
						<li>Su dirección.</li>
						<li>El nombre de su empresa o empleador.</li>
						<li>Su correo electrónico.</li>
						<li>Su teléfono.</li>
					</ul>
					<p>
						 Estos datos son proporcionados por usted de manera directa y al hacerlo está aceptando su consentimiento y aceptación al presente Aviso de Privacidad.
					</p>
				</div>
				<div class="row">
					<h5 class="purple-text bold">Sobre la revocación de su consentimiento para el tratamiento de sus datos personales.</h5>
					<p>
						 En todo momento, usted podrá revocar el consentimiento que nos ha otorgado para el tratamiento de sus datos personales, a fin de que dejemos de hacer uso de los mismos. Para ello es necesario que envíe su petición a través de correo electrónico a <a href="mailto:info@medigraf.com.mx?subject=feedback" "MEDIGRAF">info@medigraf.com.mx</a>.
					</p>
					<p>
						Su petición deberá ir acompañada de la siguiente información:
					</p>
					<ul class="check-list">
						<li>Su nombre.</li>
						<li>Teléfono de contacto.</li>
						<li>Motivos de su solicitud de revocación.</li>
					</ul>
					<p>
						 En un plazo máximo de 3 días hábiles, atenderemos su petición y le informaremos sobre el estatus de la misma a través del correo electrónico desde el cual recibimos la solicitud.
					</p>
				</div>
				<div class="row">
					<h5 class="purple-text bold">Sobre la protección de sus datos personales.</h5>
					<p>
						 La información recabada por Medigraf. a través del sitio web www.medigraf.com.mx es para uso exclusivo y no será vendida, compartida o revelada a terceros, excepto en los siguientes casos:
					</p>
					<p>
						<span style="color: rgb(237,108,0);">a)</span> Cuando sea requerido por una autoridad competente y para cumplimiento del trámite legal correspondiente y <span style="color: rgb(237,108,0);">b)</span> Cuando a juicio de los administradores y/o propietarios de este sitio sea necesario para hacer cumplir las condiciones de uso y demás términos legales de esta página, o para salvaguardar la integridad de los demás usuarios y/o del sitio; <span style="color: rgb(237,108,0);">c)</span> Para uso estadístico o análisis de mercado de los distintos proyectos internos de Medigraf.
					</p>
				</div>
				<div class="row">
					<h5 class="purple-text bold">Sobre la protección de sus datos personales.</h5>
					<p>
						 La información recabada por Medigraf. a través del sitio web www.medigraf.com.mx es para uso exclusivo y no será vendida, compartida o revelada a terceros, excepto en los siguientes casos:
					</p>
					<p>
						<span style="color: rgb(237,108,0);">a)</span> Cuando sea requerido por una autoridad competente y para cumplimiento del trámite legal correspondiente y <span style="color: rgb(237,108,0);">b)</span> Cuando a juicio de los administradores y/o propietarios de este sitio sea necesario para hacer cumplir las condiciones de uso y demás términos legales de esta página, o para salvaguardar la integridad de los demás usuarios y/o del sitio; <span style="color: rgb(237,108,0);">c)</span> Para uso estadístico o análisis de mercado de los distintos proyectos internos de Medigraf.
					</p>
				</div>
				<div class="row">
					<h5 class="purple-text bold">Modificaciones al Aviso de Privacidad.</h5>
					<p>
						 Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente Aviso de Privacidad, para la atención de novedades legislativas, políticas internas o nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios o productos.
					</p>
					<p>
						Estas modificaciones estarán disponibles en la sección de Aviso de Privacidad de nuestro sitio web y/o se le harán llegar a través del correo electrónico que nos haya proporcionado. La fecha de última modificación a este Aviso de Privacidad es del 8 de Enero de 2014.
					</p>
				</div>
				<div class="row">
					<h5 class="purple-text bold">Uso de cookies y web beacons.</h5>
					<p>
						 Las cookies son archivos de texto que son descargados automáticamente y almacenados en el disco duro del equipo de cómputo del usuario al navegar en una página de Internet específica, que permiten recordar al servidor de internet algunos datos sobre este usuario, entre ellos, sus preferencias para la visualización de las páginas en ese servidor, nombre y contraseña.
					</p>
					<p>
						Por su parte las web beacons son imágenes insertadas en una página de internet o correo electrónico, que puede ser utilizado para monitorear el comportamiento de un visitante, como almacenar información sobre la dirección IP del usuario, duración del tiempo de interacción en dicha página y el tipo de navegador utilizado, entre otros.
					</p>
					<p>
						 Le informamos que utilizamos cookies y web beacons para obtener información personal de usted, como la siguiente:
					</p>
					<ul class="check-list">
						<li>Su tipo de navegador y sistema operativo.</li>
						<li>Las páginas de internet que visita.</li>
						<li>Los vínculos que sigue.</li>
						<li>La dirección IP.</li>
						<li>El sitio que visitó antes de entrar al nuestro.</li>
					</ul>
					<p>
						Estas cookies y otras tecnologías pueden ser deshabilitadas. Para conocer cómo hacerlo por favor consulte la sección de ayuda de su navegador específico.
					</p>
				</div>
				<div class="row">
					<h5 class="purple-text bold">Formulario de contacto.</h5>
					<p>
						 En el formulario de contacto se pide completar nombre, teléfono, email, estos datos son para uso exclusivo de Medigraf, no se vende ni se comparte la información con nadie. La usaremos para estar en contacto contigo, responder tus dudas y enviarte información de Medigraf y nuestros servicios.
					</p>
					<p>
						Utilizamos Google Analytics para medir el tráfico de nuestro sitio que pueden utilizar cookies o web beacons para analizar lo que sucede en nuestras páginas. Si quieres ver más de la Política de Privacidad de Google (Analytics) puedes entrar aquí: <a href="http://www.google.com/intl/es_ALL/privacypolicy.html" target="_blank">http://www.google.com/intl/es_ALL/privacypolicy.html</a>.
					</p>
				</div>
				<div class="row">
					<h5 class="purple-text bold">Formulario de contacto.</h5>
					<p>
						 En el formulario de contacto se pide completar nombre, teléfono, email, estos datos son para uso exclusivo de Medigraf, no se vende ni se comparte la información con nadie. La usaremos para estar en contacto contigo, responder tus dudas y enviarte información de Medigraf y nuestros servicios.
					</p>
					<p>
						Utilizamos Google Analytics para medir el tráfico de nuestro sitio que pueden utilizar cookies o web beacons para analizar lo que sucede en nuestras páginas. Si quieres ver más de la Política de Privacidad de Google (Analytics) puedes entrar aquí: <a href="http://www.google.com/intl/es_ALL/privacypolicy.html" target="_blank">http://www.google.com/intl/es_ALL/privacypolicy.html</a>.
					</p>
				</div>
				<div class="row">
					<h5 class="purple-text bold">Denuncias sobre el tratamiento indebido de sus datos personales.</h5>
					<p>
						 Si usted considera que su derecho de protección de datos personales ha sido lesionado por alguna conducta de nuestros empleados o de nuestras acciones o respuestas, presume que en el tratamiento de sus datos personales existe alguna violación a las disposiciones previstas en la Ley de Protección de Datos Personales en Posesión de los Particulares, podrá interponer la queja o denuncia correspondiente ante el IFAI, para mayor información visite <a href="http://www.ifai.org.mx" target="_blank">www.ifai.org.mx</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- sidebar -->
	<aside class="one-third grey">
		<div id="sidebar">
			<!-- category widget -->
			<!--<div class="widget">
				<h5 class="stripe-heading">CATEGORÍAS</h5>
				<div class="widget-content">
					<ul class="categories">
						<li><a href="categorias_web_ads.html"><i class="mif mif-ps-ad-advertising" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> WEB ADS</a></li>
						<li><a href="not_found.html"><i class="mif mif-ps-sm-social-media" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> SOCIAL MEDIA</a></li>
						<li><a href="not_found.html"><i class="mif mif-ps-ws-web-services" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> WEB SERVICES</a></li>
						<li><a href="not_found.html"><i class="mif mif-ps-em-email-marketing" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> E-MAIL MARKETING</a></li>
						<li><a href="not_found.html"><i class="mif mif-ps-bg-branding" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> BRANDING</a></li>
						<li><a href="not_found.html"><i class="mif mif-ps-fa-fotografia" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> FOTOGRAFÍA</a></li>
					</ul>
				</div>
			</div>-->
			<!-- recent posts widget -->
			<div class="widget">
				<h5 class="stripe-heading">ENTRADAS RECIENTES</h5>
				<div class="widget-content">
					<ul class="recent-posts">
						<li><a id="view_blog_posicionamiento_web">Posicionamiento Web</a></li>
						<li><a id="view_blog_fotografia">Fotografía</a></li>
						<li><a id="view_blog_identidad_de_marca">Identidad de Marca</a></li>
						<li><a id="view_blog_ads_google_bing_yahoo">Ads Google, Bing y Yahoo!</a></li>
						<li><a id="view_blog_web_analytics">Web Analytics</a></li>
					</ul>
				</div>
			</div>
		</div>
	</aside>
	<!-- clear floats -->
	<div class="clear">
	</div>
</section>