<!-- begin notes -->
<section class="grey stripe-bg">
	<div class="two-third">
		<!-- begin posts -->
		<ul class="grid alt-posts" id="posts">
			<!-- post -->
			<li class="post">
			<!-- post image -->
			<div class="post-img">
				<img src="img/blog/b5large.jpg" alt="post-img-anthem"/>
			</div>
			<div class="post-info">
				<!-- read more button -->
				<a id="view_blog_posicionamiento_web" title="Read Post">
				<h1 class="grid-title">POSICIONAMIENTO WEB</h1>
				</a>
				<div class="post-meta">
					<span>Categoría: <span><i class="mif mif-ps-ws-web-services mif-2x" style="font-size: 19px; position: relative; top: 5px; padding-right: 5px;"></i> WEB SERVICES</span></span>
				</div>
				<div class="post-content">
					<p class="intro">
						Creamos soluciones de marketing online diseñadas para que usted obtenga más clientes y por consiguiente más ventas. Sabemos de la importancia de las visitas a su sitio Web, ya que además de ser agradable y contener información oportuna, es necesario también que tenga tráfico orientado al producto o servicio que se ofrece.
					</p>
					<p class="intro">
						Aproximadamente el 15% del tráfico en su sitio llega de forma directa, es decir que el usuario pone en su navegador www.suempresa.com; así también un 5% proviene de otros vínculos ligados a su sitio y el 80% proviene de motores de búsqueda como Google, Yahoo y MSN, entre otros.
					</p>
					<!-- read more button -->
					<a id="view_blog_posicionamiento_web" class="icon-button">Leer Más<i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
			</li>
			<!-- post -->
			<li class="post">
			<!-- post image -->
			<div class="post-img">
				<img src="img/blog/b2large.jpg" alt="post-img-anthem"/>
			</div>
			<div class="post-info">
				<!-- read more button -->
				<a id="view_blog_fotografia" title="Read Post">
				<h1 class="grid-title">FOTOGRAFÍA</h1>
				</a>
				<div class="post-meta">
					<span>Categoría: <span><i class="mif mif-ps-fa-fotografia mif-2x" style="font-size: 19px; position: relative; top: 5px; padding-right: 5px;"></i> FOTOGRAFÍA</span></span>
				</div>
				<div class="post-content">
					<p class="intro">
						Fotografía profesional con un equipo humano y tecnológico de primer nivel.

						Fotografía en locación.
						Retoque fotográfico (restauración, montaje, efectos, etc.)
						Fotografía publicitaria.
						Fotografía de productos.

						Banco de imágenes (más de 10,000 fotografías del medio veterinario y agropecuario)
					</p>
					<!-- read more button -->
					<a id="view_blog_fotografia" class="icon-button">Leer Más<i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
			</li>
			<!-- post -->
			<li class="post">
			<!-- post image -->
			<div class="post-img">
				<img src="img/blog/b3large.jpg" alt="post-img-anthem"/>
			</div>
			<div class="post-info">
				<!-- read more button -->
				<a id="view_blog_identidad_de_marca" title="Read Post">
				<h1 class="grid-title">IDENTIDAD DE MARCA</h1>
				</a>
				<div class="post-meta">
					<span>Categoría: <span><i class="mif mif-ps-bg-branding mif-2x" style="font-size: 19px; position: relative; top: 5px; padding-right: 5px;"></i> BRANDING</span></span>
				</div>
				<div class="post-content">
					<p class="intro">
						La imagen corporativa es un factor de fundamental importancia para el posicionamiento de una empresa, ya que debe atraer la atención, ser fácil de comprender, expresar credibilidad y confianza, ser coherente con los objetivos de negocio y traducir claramente  los atributos intangibles de la compañía, bajo estos conceptos entonces será fácil de recordar y en consecuencia el posicionamiento de la empresa será sólido y duradero.
					</p>
					<!-- read more button -->
					<a id="view_blog_identidad_de_marca" class="icon-button">Leer Más<i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
			</li>
			<!-- post -->
			<li class="post">
			<!-- post image -->
			<!--<div class="post-img">
				<img src="img/blog/b6large.jpg" alt="post-img-anthem"/>
			</div>-->
			<div class="post-video">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/gl0zNdou7-Y" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="post-info">
				<!-- read more button -->
				<a id="view_blog_ads_google_bing_yahoo" title="Read Post">
				<h1 class="grid-title">Ads Google, Bing y Yahoo!</h1>
				</a>
				<div class="post-meta">
					<span>Categoría: <span><i class="mif mif-ps-ad-advertising mif-2x" style="font-size: 19px; position: relative; top: 5px; padding-right: 5px;"></i> WEB ADS</span></span>
				</div>
				<div class="post-content">
					<p class="intro">
						El equipo de Medigraf define las estrategias de marketing en motores de búsqueda, realizando una investigación de keywords, crea y administra una cuenta de Adwords con una campaña de marketing en buscadores en base a un trabajo que se desarrolla con seguimiento mensual en base a las estadísticas.
					</p>
					<!-- read more button -->
					<a id="view_blog_ads_google_bing_yahoo" class="icon-button">Leer Más<i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
			</li>
			<!-- post -->
			<li class="post">
			<!-- post image -->
			<div class="post-img">
				<img src="img/blog/b7large.jpg" alt="post-img-anthem"/>
			</div>
			<div class="post-info">
				<!-- read more button -->
				<a id="view_blog_web_analytics" title="Read Post">
				<h1 class="grid-title">Web Analytics</h1>
				</a>
				<div class="post-meta">
					<span>Categoría: <span><i class="mif mif-ps-ws-web-services mif-2x" style="font-size: 19px; position: relative; top: 5px; padding-right: 5px;"></i> WEB ADS</span></span>
				</div>
				<div class="post-content">
					<p class="intro">
						Ofrece información agrupada del tráfico que llega a los sitios web según la audiencia, la adquisición, el comportamiento y las conversiones que se llevan a cabo en el sitio web.
					</p>
					<!-- read more button -->
					<a id="view_blog_web_analytics" class="icon-button">Leer Más<i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
			</li>
		</ul>
		<!-- end posts -->
		<!-- notes navigation -->
		<!--<div class="post-nav grey">
			<div class="row">
				<div class="eight columns">
					<ul class="pagination">
						<li class="current"><a href="#">1</a></li>
						<li class=""><a href="#">2</a></li>
						<li class=""><a href="#">3</a></li>
						<li class=""><a href="#">4</a></li>
						<li class=""><a href="#">5</a></li>
						<li class=""><a href="#">6</a></li>
					</ul>
				</div>
				<div class="four columns text-right smalltoppadding">
					<ul class="icon-nav">
						<li><a href="">Next Page &nbsp; <i class="fa fa-arrow-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>-->
	</div>
	<!-- sidebar -->
	<aside class="one-third grey">
		<div id="sidebar">
			<!-- category widget -->
			<!--<div class="widget">
				<h5 class="stripe-heading">CATEGORÍAS</h5>
				<div class="widget-content">
					<ul class="categories">
						<li><a href="not_found.html"><i class="mif mif-ps-ad-advertising" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> WEB ADS</a></li>
						<li><a href="not_found.html"><i class="mif mif-ps-sm-social-media" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> SOCIAL MEDIA</a></li>
						<li><a href="not_found.html"><i class="mif mif-ps-ws-web-services" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> WEB SERVICES</a></li>
						<li><a href="not_found.html"><i class="mif mif-ps-em-email-marketing" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> E-MAIL MARKETING</a></li>
						<li><a href="not_found.html"><i class="mif mif-ps-bg-branding" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> BRANDING</a></li>
						<li><a href="not_found.html"><i class="mif mif-ps-fa-fotografia" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> FOTOGRAFÍA</a></li>
					</ul>
				</div>
			</div>-->
			<!-- recent posts widget -->
			<div class="widget">
				<h5 class="stripe-heading">ENTRADAS RECIENTES</h5>
				<div class="widget-content">
					<ul class="recent-posts">
						<li><a id="view_blog_posicionamiento_web">Posicionamiento Web</a></li>
						<li><a id="view_blog_fotografia">Fotografía</a></li>
						<li><a id="view_blog_identidad_de_marca">Identidad de Marca</a></li>
						<li><a id="view_blog_ads_google_bing_yahoo">Ads Google, Bing y Yahoo!</a></li>
						<li><a id="view_blog_web_analytics">Web Analytics</a></li>
					</ul>
				</div>
			</div>
		</div>
	</aside>
	<!-- clear floats -->
	<div class="clear">
	</div>
</section>