<!-- first block -->
<div class="first-block">
</div>
<!-- #crumbs for page title bar and top navigation -->
<div id="crumbs" class="black dark">
	<div class="row large">
		<!-- page title/statement -->
		<div class="six columns">
			<h6 class="sub-heading"><a id="return-home"><span>INICIO</span></a>&nbsp; / &nbsp; <a id="go-blog"><span>ÚLTIMOS POST</span></a>&nbsp; / &nbsp;WEB ANALYTICS</h6>
		</div>
		<div class="six columns text-right">
			<!-- post navigation -->
			<ul class="icon-nav">
				<li><a class="ttp_tooltip agby" id="view_blog_ads_google_bing_yahoo" data-title="Ads Google, Bing, Yahoo!"><i class="fa fa-arrow-left"></i></a></li>
				<li><a class="ttp_tooltip blg" id="go-blog" data-title="Blog"><i class="fa fa-th-list"></i></a></li>
				<li><a class="ttp_tooltip pw" id="view_blog_posicionamiento_web" data-title="Posicionaiento Web"><i class="fa fa-arrow-right"></i></a></li>
			</ul>
		</div>
	</div>
</div>
<section class="grey stripe-bg">
<!-- post content -->
<div class="two-third">
	<div id="single-post">
		<!-- post container -->
		<ul class="grid alt-posts" id="posts">
			<!-- begin post -->
			<li class="post">
			<!-- post  img header -->
			<div class="post-img">
				<img src="img/blog/b7large.jpg" alt="post-img-anthem"/>
			</div>
			<div class="post-info">
				<!-- post title -->
				<h1 class="grid-title">WEB ANALYTICS</h1>
				<div class="post-meta">
					<span>Categoría: <span><i class="mif mif-ps-bg-branding" style="font-size: 19px; position: relative; top: 5px; padding-right: 5px;"></i> BRANDING</span></span>
				</div>
				<div class="post-content">
					<p>
						Ofrece información agrupada del tráfico que llega a los sitios web según la audiencia, la adquisición, el comportamiento y las conversiones que se llevan a cabo en el sitio web.
					</p>
					<p>
						Se pueden obtener informes como el seguimiento de usuarios exclusivos, el rendimiento del segmento de usuarios, los resultados de las diferentes campañas de marketing online, las sesiones por fuentes de tráfico, tasas de rebote, duración de las sesiones, contenidos visitados, conversiones (para e-commerce), etc.
					</p>
					<p>
						Usted recibirá mensualmente de manera puntual y oportuna las estadísticas y gráficos ilustrados evaluando la funcionalidad y eficiencia del sitio Web, de la campaña de posicionamiento y de las redes sociales, facilitando la información que le oriente el rumbo óptimo a seguir, ya que podrá conocer las preferencias y el origen de los visitantes a su sitio Web, como por ejemplo:
					</p>
					<p>
						<ul>
							<li>Número de visitas.</li>
							<li>Lugar de origen.</li>
							<li>Por que medio llegaron. (tráfico directo, buscador, sitio de referencia, redes sociales, etc.).</li>
							<li>Cuanto tiempo permanece el usuario en el sitio.</li>
							<li>Secciones más visitadas en su sitio Web.</li>
							<li>Visitas nuevas.</li>
							<li>Etc.</li>
						</ul>
					</p>
				</div>
			</div>
			</li>
		</ul>
	</div>
</div>
<!-- sidebar -->
<aside class="one-third grey">
<div id="sidebar">
	<!-- category widget -->
	<div class="widget">
		<!--<h5 class="stripe-heading">BLOG CATEGORIES</h5>
		<div class="widget-content">
			<ul class="categories">
				<li><a href="../not_found.html"><i class="mif mif-ps-ad-advertising" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> WEB ADS</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-sm-social-media" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> SOCIAL MEDIA</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-ws-web-services" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> WEB SERVICES</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-em-email-marketing" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> E-MAIL MARKETING</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-bg-branding" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> BRANDING</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-fa-fotografia" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> FOTOGRAFÍA</a></li>
			</ul>
		</div>-->
	</div>
	<!-- recent posts widget -->
	<div class="widget">
		<h5 class="stripe-heading">ENTRADAS RECIENTES</h5>
		<div class="widget-content">
			<ul class="recent-posts">
				<li><a id="view_blog_posicionamiento_web">Posicionamiento Web</a></li>
				<li><a id="view_blog_fotografia">Fotografía</a></li>
				<li><a id="view_blog_identidad_de_marca">Identidad de Marca</a></li>
				<li><a id="view_blog_ads_google_bing_yahoo">Ads Google, Bing y Yahoo!</a></li>
				<li><a id="view_blog_web_analytics">Web Analytics</a></li>
			</ul>
		</div>
	</div>
</div>
</aside>
<!-- clear floats -->
<div class="clear">
</div>
</section>