<!-- first block -->
<div class="first-block"></div>
<!-- #crumbs for page title bar and top navigation -->
<div id="crumbs" class="white">
	<div class="row large">
		<div class="six columns">
			<!-- page title -->
			<h6 class="sub-heading"><a id="return-home"><span>INICIO</span></a>&nbsp; / &nbsp; ÚLTIMAS ENTRADAS</h6>
		</div>
	</div>
</div>
<!-- begin notes -->
<div id="content-notes"></div>
