<!-- first-block -->
<div class="first-block">
</div>
<!-- img header -->
<section class="page-header img-section dark" style="background-image:url(img/contact/contacto_web.jpg);">
	<div class="content-block black-tint">
		<!-- #crumbs for page title bar and top navigation -->
		<div id="crumbs" class="abs dark">
			<div class="row large dark">
				<!-- page title/statement -->
				<h6 class="sub-heading"><a href="/"><span>INICIO</span></a>&nbsp; / &nbsp; CONTACTO</h6>
			</div>
		</div>
		<!-- page statement -->
		<!--<div class="row midtoppadding">
			<div class="twelve columns text-center">
				<h1 class="block-heading">PONTE EN CONTACTO CON NOSOTROS <br/><span class="light">(33) 3671 1857</span></h1>
			</div>
		</div>-->
	</div>
</section>
<section class="grey stripe-bg">
<!-- two third / left side -->
<div class="two-third white">
	<div id="contact-page">
		<div class="content-block">
			<div class="row">
				<!-- page title / description -->
				<h3 class="bold">CONTACTO</h3>
				<hr class="thin grey">
			</div>
			<div class="row">
				<!-- contact form -->
				<form method="post" action="#" id="contact-form">
					<ul>
						<li>
						<p>
							 <span class="asterisk"><span class="fa fa-asterisk" style="color: rgb(237,108,0);"></span> Todos los campos son Requeridos.
						</p>
						</li>
						<li class="field"><input class="input" type="text" placeholder="Nombre" name="name" id="your-name"></li>
						<li class="field"><input class="input" type="email" placeholder="Email" name="email" id="your-email"></li>
						<li class="field"><input class="input" type="text" placeholder="Asunto" name="subject" id="your-subject"></li>
						<li class="field"><textarea class="input textarea" placeholder="Mensaje" rows="4" name="message" id="your-message"></textarea></li>
						<li>
						<!-- submit button -->
						<input value="ENVIAR MENSAJE" class="purple submit" id="submit" name="submit" type="submit">
						</li>
					</ul>
				</form>
				<div id="email-msg">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- one third sidebar -->
<aside class="one-third grey">
<div id="sidebar">
	<!-- contact widget -->
	<div class="widget">
		<h5 class="stripe-heading">MEDIGRAF</h5>
		<div class="widget-content">
			<p class="contact-info" style="font-size: 18px;">
				Guadalajara, Jalisco, México <br>
				<i class="fa fa-phone"></i>(33) 3671 1857<br>
				<i class="fa fa-envelope-o"></i><a href="mailto:info@medigraf.com.mx?subject=feedback" "email me">info@medigraf.com.mx</a>
			</p>
		</div>
	</div>
</div>
</aside>
<!-- clear floats -->
<div class="clear">
</div>
</section>