<section class="content-block">
	<div class="row large">
		<!-- icon block one -->
		<div class="four columns">
			<!-- add class icon-side to display icon on the side -->
			<div class="icon-block icon-side">
				<div class="icon animated hiding" data-animation="fadeInUp" data-delay="500">
					<i class="mif mif-ps-ad-advertising mif-2x"></i>
				</div>
				<div class="icon-info animated hiding" data-animation="fadeInUp" data-delay="500">
					<h5 class="bold">WEB ADS</h5>
					<p>
						Trabajamos en equipo con nuestros clientes para crear campañas web, estratégicamente desarrolladas y administradas, desde el concepto creativo hasta la ejecución y su evaluación.
					</p>
					<ul class="caret-list">
						<li>Ads Google, Bing, Yahoo! <a id="view_blog_ads_google_bing_yahoo" class="icon-button">Leer Más<i class="fa fa-chevron-right"></i></a></li>
						<li>Ads Social Media.</li>
						<li>Remarketing.</li>
						<a href="https://www.google.com/partners/#a_profile;idtf=7594136972;" target="_blank" style="display: none;"><img src="img/services/PartnerBadge-Horizontal.png" alt="" width="120"></a>
					</ul>
				</div>
			</div>
		</div>
		<!-- icon block two -->
		<div class="four columns">
			<!-- add class icon-side to display icon on the side -->
			<div class="icon-block icon-side">
				<div class="icon animated hiding" data-animation="fadeInUp" data-delay="500">
					<i class="mif mif-ps-sm-social-media mif-2x"></i>
				</div>
				<div class="icon-info animated hiding" data-animation="fadeInUp" data-delay="500">
					<h5 class="bold">SOCIAL MEDIA</h5>
					<p>
						Administramos redes sociales, creamos vínculos con el público objetivo a travéz de la creación de contenidos, mantennimiento y análisis de comportamiento.
					</p>
					<ul class="caret-list">
						<li>Estrategia en redes sociales.</li>
						<li>Community management.</li>
						<li>Creación de contenidos.</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- icon block three -->
		<div class="four columns">
			<!-- add class icon-side to display icon on the side -->
			<div class="icon-block icon-side">
				<div class="icon animated hiding" data-animation="fadeInUp" data-delay="500">
					<i class="mif mif-ps-ws-web-services mif-2x"></i>
				</div>
				<div class="icon-info animated hiding" data-animation="fadeInUp" data-delay="500">
					<h5 class="bold">WEB SERVICES</h5>
					<p>
						Desarrollamos soluciones en internet a la medida de nuestros clientes, desde un micrositio, una palicación móvil de ventas, hasta un CRM o sistema de administración ERP.
					</p>
					<ul class="caret-list">
						<li>Web site.</li>
						<li>Web Apps.</li>
						<li>Web Analytics. <a id="view_blog_web_analytics" class="icon-button">Leer Más<i class="fa fa-chevron-right"></i></a></li>
						<li>SEO (Posicionamiento web). <a id="view_blog_posicionamiento_web" class="icon-button">Leer Más<i class="fa fa-chevron-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row large">
		<!-- icon block one -->
		<div class="four columns">
			<!-- add class icon-side to display icon on the side -->
			<div class="icon-block icon-side">
				<div class="icon animated hiding" data-animation="fadeInUp" data-delay="500">
					<i class="mif mif-ps-em-email-marketing mif-2x"></i>
				</div>
				<div class="icon-info animated hiding" data-animation="fadeInUp" data-delay="500">
					<h5 class="bold">E-MAIL MARKETING</h5>
					<p>
						Administramos la base de datos de contactos de nuestros clientes, diseñamos, segmentamos y programamos campañas de e-mail.
					</p>
					<ul class="caret-list">
						<li>Administración de contactos.</li>
						<li>Campañas e-mail.</li>
						<li>News.</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- icon block two -->
		<div class="four columns">
			<!-- add class icon-side to display icon on the side -->
			<div class="icon-block icon-side">
				<div class="icon animated hiding" data-animation="fadeInUp" data-delay="500">
					<i class="mif mif-ps-bg-branding mif-2x"></i>
				</div>
				<div class="icon-info animated hiding" data-animation="fadeInUp" data-delay="500">
					<h5 class="bold">BRANDING</h5>
					<p>
						Ayudamos a nuestros clientes a plasmar sus objetivos y estrategias de negocios a través del desarrollo y mantenimiento de su imagen empresarial.
					</p>
					<ul class="caret-list">
						<li>Identidad de marca. <a id="view_blog_identidad_de_marca" class="icon-button">Leer Más<i class="fa fa-chevron-right"></i></a></li>
						<li>Identidad de producto.</li>
						<li>Diseño gráfico.</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- icon block three -->
		<div class="four columns">
			<!-- add class icon-side to display icon on the side -->
			<div class="icon-block icon-side">
				<div class="icon animated hiding" data-animation="fadeInUp" data-delay="500">
					<i class="mif mif-ps-fa-fotografia mif-2x"></i>
				</div>
				<div class="icon-info animated hiding" data-animation="fadeInUp" data-delay="500">
					<h5 class="bold">FOTOGRAFÍA</h5><p>
						Apoyamos nuestras campañas con buena imagen y fotografía profesional con un equipo humano y tecnológico de primer nivel.
					</p>
					<ul class="caret-list">
						<li>Fotografía publicitaria.</li>
						<li>Fotografía de producto.</li>
						<li>Fotografía en locación.</li>
						<li><a id="view_blog_fotografia" class="icon-button">Leer Más<i class="fa fa-chevron-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row large">
		<div class="three columns"></div>
		<div class="seven columns animated hiding" data-animation="fadeInUp" data-delay="500">
			<img src="img/services/servicios-medigraf.png" width="750" alt="" class="diagram">
		</div>
		<div class="four columns"></div>
	</div>
</section>