<!-- first block -->
<div class="first-block">
</div>
<!-- #crumbs for page title bar and top navigation -->
<div id="crumbs" class="black dark">
	<div class="row large">
		<!-- page title/statement -->
		<div class="six columns">
			<h6 class="sub-heading"><a id="return-home"><span>INICIO</span></a>&nbsp; / &nbsp; <a id="go-blog"><span>ÚLTIMOS POST</span></a>&nbsp; / &nbsp;ADS GOOGLE, BING Y YAHOO!</h6>
		</div>
		<div class="six columns text-right">
			<!-- post navigation -->
			<ul class="icon-nav">
				<li><a class="ttp_tooltip im" id="view_blog_identidad_de_marca" data-title="Identidad de Marca"><i class="fa fa-arrow-left"></i></a></li>
				<li><a class="ttp_tooltip blg" id="go-blog" data-title="Blog"><i class="fa fa-th-list"></i></a></li>
				<li><a class="ttp_tooltip wa" id="view_blog_web_analytics" data-title="Web Analytics"><i class="fa fa-arrow-right"></i></a></li>
			</ul>
		</div>
	</div>
</div>
<section class="grey stripe-bg">
<!-- post content -->
<div class="two-third">
	<div id="single-post">
		<!-- post container -->
		<ul class="grid alt-posts" id="posts">
			<!-- begin post -->
			<li class="post">
			<!-- post  img header -->
			<!--<div class="post-img">
				<img src="img/blog/b6large.jpg" alt="post-img-anthem"/>
			</div>-->
			<div class="post-video">
				<iframe width="560" height="315" src="//www.youtube.com/embed/gl0zNdou7-Y?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="post-info">
				<!-- post title -->
				<h1 class="grid-title">Ads Google, Bing y Yahoo!</h1>
				<div class="post-meta">
					<span>Categoría: <span><i class="mif mif-ps-ad-advertising" style="font-size: 19px; position: relative; top: 5px; padding-right: 5px;"></i> WEB ADS</span></span>
				</div>
				<div class="post-content">
					<h4 class="purple-text">SEM (Search Engine Marketing)</h4>
					<p>
						Conocido como Paid Search Marketing y Pay Per Click marketing (PPC), es una forma muy utilizada de marketing en motores de búsqueda.
					</p>
					<h5 class="purple-text">Aspectos de utilizar SEM:</h5>
					<ul class="disc">
						<li>Únicamente se paga cuando alguien da click en un anuncio de nuestra propiedad.</li>
						<li>Uno escoge los keywords que uno desea utilizar para anunciarse.</li>
						<li>Uno dirige los visitantes target a nuestro sitio web.</li>
						<li>Tráfico inmediato: obtiene resultados en unos cuantos días.</li>
						<li>
						Todas los buscadores comercializan clicks de publicidad (advertising clicks) y las actividades son completamente transparentes y medibles.</li>
						<li>Esta disponible para todos los presupuestos.</li>
					</ul>
					<p>
						Medigraf ayuda en los esfuerzos de comercialización en los motores de búsqueda.
					</p>
					<p>
						El objetivo es hacer que las campañas de marketing en Adwords (Google) o de otros buscadores que proporcionen los resultados deseados.
					</p>
					<p>
						El equipo de Medigraf define las estrategias de marketing en motores de búsqueda, realizando una investigación de keywords, crea y administra una cuenta de Adwords con una campaña de marketing en buscadores en base a un trabajo que se desarrolla con seguimiento mensual en base a las estadísticas.
					</p>
					<h6 class="purple-text">Estadísticas.</h6>
					<p>
						Usted recibirá mensualmente de manera puntual y oportuna las estadísticas y gráficos ilustrados evaluando la funcionalidad y eficiencia del sitio Web, de la campaña de posicionamiento y de las redes sociales, facilitando la información que le oriente el rumbo óptimo a seguir, ya que podrá conocer las preferencias y el origen de los visitantes a su sitio Web, como por ejemplo:
					</p>
					<ul class="disc">
						<li>Número de visitas.</li>
						<li>Lugar de origen.</li>
						<li>Por que medio llegaron. (tráfico directo, buscador, sitio de referencia).</li>
						<li>Cuanto tiempo permanece el usuario en el sitio.</li>
						<li>Secciones más visitadas en su sitio Web.</li>
						<li>Visitas nuevas.</li>
						<li>Etc.</li>
					</ul>
				</div>
			</div>
			</li>
		</ul>
	</div>
</div>
<!-- sidebar -->
<aside class="one-third grey">
<div id="sidebar">
	<!-- category widget -->
	<div class="widget">
		<!--<h5 class="stripe-heading">BLOG CATEGORIES</h5>
		<div class="widget-content">
			<ul class="categories">
				<li><a href="../not_found.html"><i class="mif mif-ps-ad-advertising" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> WEB ADS</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-sm-social-media" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> SOCIAL MEDIA</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-ws-web-services" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> WEB SERVICES</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-em-email-marketing" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> E-MAIL MARKETING</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-bg-branding" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> BRANDING</a></li>
				<li><a href="not_found.html"><i class="mif mif-ps-fa-fotografia" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> FOTOGRAFÍA</a></li>
			</ul>
		</div>-->
	</div>
	<!-- recent posts widget -->
	<div class="widget">
		<h5 class="stripe-heading">RECENT POSTS</h5>
		<div class="widget-content">
			<ul class="recent-posts">
				<li><a id="view_blog_posicionamiento_web">Posicionamiento Web</a></li>
				<li><a id="view_blog_fotografia">Fotografía</a></li>
				<li><a id="view_blog_identidad_de_marca">Identidad de Marca</a></li>
				<li><a id="view_blog_ads_google_bing_yahoo">Ads Google, Bing y Yahoo!</a></li>
				<li><a id="view_blog_web_analytics">Web Analytics</a></li>
			</ul>
		</div>
	</div>
</div>
</aside>
<!-- clear floats -->
<div class="clear">
</div>
</section>