<!-- first-block-->
<div class="first-block"></div>
<!-- #crumbs for page title bar and top navigation -->
<div id="crumbs" class="black dark">
	<div class="row large">
		<!-- page title -->
		<div class="six columns">
			<h6 class="sub-heading">
				<a id="return-home">
					<span>INICIO</span>
				</a>&nbsp; / &nbsp; 
				<a id="go-porfolio">
					<span>PORTAFOLIO</span>
				</a>&nbsp; / &nbsp;
				JOVY CANDY
			</h6>
		</div>
		<div class="six columns text-right">
			<!-- project navigation -->
			<ul class="icon-nav">
				<li><a class="ttp_tooltip p_cavsa" id="go-view-project-cavsa" data-title="Ford Cavsa"><i class="fa fa-arrow-left"></i></a></li>
				<li><a class="ttp_tooltip proyectos" id="go-porfolio" data-title="Proyectos"><i class="fa fa-th"></i></a></li>
				<li><a class="ttp_tooltip p_okuma" id="go-view-project-okuma" data-title="Okuma Shushi"><i class="fa fa-arrow-right"></i></a></li>
			</ul>
		</div>
	</div>
</div>
<!-- begin project -->
<div id="single-project">
	<div class="work grey stripe-bg">
		<!-- project slider -->
		<div class="two-third">
			<div class="single-project">
				<div class="flexslider full-slider">
					<ul class="slides">
						<li>
						<img src="img/portfolio/folio-jovy1.jpg" alt="Jovy Candy">
						</li>
						<li>
						<img src="img/portfolio/folio-jovy2.jpg" alt="Jovy Candy">
						</li>
						<li>
						<img src="img/portfolio/folio-jovy3.jpg" alt="Jovy Candy">
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- .two-third -->
		<!-- project info -->
		<aside class="one-third grey">
		<div id="sidebar">
			<div class="project-detail">
				<h5 class="stripe-heading">Jovy Candy.</h5>
				<div class="project-content">
					<p>
						Jovy Candy es de los principales fabricantes de snacks saludables y dulces naturales, cumpliendo con los más altos estándares de calidad que satisfacen a clientes nacionales e internacionales, en paises como: Estados Unidos, Australia, Israel, Taiwan, China, Dubai, Corea, Ecuador, Colombia, Canadá, Oman, Catar y Kuwait.
					</p>
					<p>
						 Medigraf contribuye en la imagen de sus productos y su comunicación, así como en su presencia en internet, algunos de nuestros servicios:
					</p>
					<ul class="project-meta">
						<li><i class="mif mif-ps-ws-web-services"></i>Web services. (Analytics, Mantenimiento).</li>
						<li><i class="mif mif-ps-ws-web-services"></i>Desarrollo de sitio web responsive.</li>
						<li><i class="mif mif-ps-bg-branding"></i>Branding.</li>
						<li><i class="mif mif-ps-fa-fotografia"></i>Fotografía.</li>
						<li class="link"><i class="fa fa-link"></i><a href="http://www.jovycandy.com/" title="Jovy Candy" target="_blank">Jovi Candy</a></li>
					</ul>
				</div>
			</div>
		</div>
		</aside>
		<div class="clear">
		</div>
	</div>
</div>
<!-- recent projects -->
<section class="content-block white small">
	<!-- content heading -->
	<div class="row large content-heading">
		<h6>OTROS PROYECTOS</h6>
		<span class="border"></span>
		<div class="clear-20">
		</div>
	</div>
	<div class="row large">
		<!-- begin projects -->
		<ul class="grid times-three alt" id="projects">
			<!-- project  -->
			<li class="grid-item">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-fussion.jpg" alt="project">
				</div>
				<!-- project title and category -->
				<a id="go-view-project-fussion">
				<div class="project-info">
					<h1 class="grid-title">FUSSION JEANS</h1>
					<h6 class="project-cat">Diseño &amp; Desarrollo</h6>
				</div>
				</a>
			</div>
			</li>
			<!-- project -->
			<li class="grid-item">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-fcavsa.jpg" alt="project">
				</div>
				<!-- project title and category -->
				<a id="go-view-project-cavsa">
				<div class="project-info">
					<h1 class="grid-title">FORD CAVSA</h1>
					<h6 class="project-cat">Diseño &amp; Desarrollo</h6>
				</div>
				</a>
			</div>
			</li>
			<!-- project -->
			<li class="grid-item">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-okuma.jpg" alt="project">
				</div>
				<!-- project title and category -->
				<a id="go-view-project-okuma">
				<div class="project-info">
					<h1 class="grid-title">OKUMA SUSHI</h1>
					<h6 class="project-cat">Diseño &amp; Desarrollo</h6>
				</div>
				</a>
			</div>
			</li>
		</ul>
		<div class="clear">
		</div>
	</div>
</section>