<div class="post_article" id="portafolio"></div>
<section class="content-block">
	<div class="row content-heading text-center">
		<h3>PORTAFOLIO</h3>
	</div>
	<div class="row">
		<div class="ten columns centered text-center">
		</div>
	</div>
</section>
<!--second section / projects -->
<div id="content-begin-projects"></div>