<!-- first-block-->
<div class="first-block"></div>
<!-- #crumbs for page title bar and top navigation -->
<div id="crumbs" class="black dark">
	<div class="row large">
		<!-- page title -->
		<div class="six columns">
			<h6 class="sub-heading">
				<a id="return-home">
					<span>INICIO</span>
				</a>&nbsp; / &nbsp; 
				<a id="go-porfolio">
					<span>PORTAFOLIO</span>
				</a>&nbsp; / &nbsp;
				FORD CAVSA
			</h6>
		</div>
		<div class="six columns text-right">
			<!-- project navigation -->
			<ul class="icon-nav">
				<li><a class="ttp_tooltip p_fussion" id="go-view-project-fussion" data-title="Fussion Jeans"><i class="fa fa-arrow-left"></i></a></li>
				<li><a class="ttp_tooltip proyectos" id="go-porfolio" data-title="Proyectos"><i class="fa fa-th"></i></a></li>
				<li><a class="ttp_tooltip p_jovy" id="go-view-project-jovyCandy" data-title="Jovy Candy"><i class="fa fa-arrow-right"></i></a></li>
			</ul>
		</div>
	</div>
</div>
<!-- begin project -->
<div id="single-project">
	<div class="work grey stripe-bg">
		<!-- project slider -->
		<div class="two-third">
			<div class="single-project">
				<div class="flexslider full-slider">
					<ul class="slides">
						<li>
						<img src="img/portfolio/folio-cavsa1.jpg" alt="Ford Cavsa">
						</li>
						<li>
						<img src="img/portfolio/folio-cavsa2.jpg" alt="Ford Cavsa">
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- .two-third -->
		<!-- project info -->
		<aside class="one-third grey">
		<div id="sidebar">
			<div class="project-detail">
				<h5 class="stripe-heading">Ford CAVSA.</h5>
				<div class="project-content">



					<p>
						Ford CAVSA es una de las principales concesionarias Ford en Jalisco, Medigraf los apoya para que esto tambien se vea reflejado en internet, posicionándolos en las búsquedas y generando mayor engagement en Redes Sociales, estos son algunos de los servicios proporcionados:
					</p>
					<ul class="project-meta">
						<li><i class="mif mif-ps-ad-advertising"></i>Ads (Facebook, AdWords, Remarketing).</li>
						<li><i class="mif mif-ps-sm-social-media"></i>Social Media.</li>
						<li class="link"><i class="fa fa-link"></i><a href="http://fordcavsa.mx/" title="Okuma Sushi" target="_blank">Ford CAVSA</a></li>
					</ul>
				</div>
			</div>
		</div>
		</aside>
		<div class="clear">
		</div>
	</div>
</div>
<!-- recent projects -->
<section class="content-block white small">
	<!-- content heading -->
	<div class="row large content-heading">
		<h6>OTROS PROYECTOS</h6>
		<span class="border"></span>
		<div class="clear-20">
		</div>
	</div>
	<div class="row large">
		<!-- begin projects -->
		<ul class="grid times-three alt" id="projects">
			<!-- project -->
			<li class="grid-item">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-fussion.jpg" alt="project">
				</div>
				<!-- project title and category -->
				<a id="go-view-project-fussion">
				<div class="project-info">
					<h1 class="grid-title">FUSSION JEANS</h1>
					<h6 class="project-cat">Diseño &amp; Desarrollo</h6>
				</div>
				</a>
			</div>
			</li>
			<!-- project -->
			<li class="grid-item">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-okuma.jpg" alt="project">
				</div>
				<!-- project title and category -->
				<a id="go-view-project-okuma">
				<div class="project-info">
					<h1 class="grid-title">OKUMA SUSHI</h1>
					<h6 class="project-cat">Diseño &amp; Desarrollo</h6>
				</div>
				</a>
			</div>
			</li>
			<!-- project  -->
			<li class="grid-item">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-jovy.jpg" alt="project">
				</div>
				<!-- project title and category -->
				<a id="go-view-project-jovyCandy">
				<div class="project-info">
					<h1 class="grid-title">JOVY CANDY</h1>
					<h6 class="project-cat">Diseño &amp; Desarrollo</h6>
				</div>
				</a>
			</div>
			</li>
		</ul>
		<div class="clear">
		</div>
	</div>
</section>