<!-- first-block-->
<div class="first-block"></div>
<!-- #crumbs for page title bar and top navigation -->
<div id="crumbs" class="black dark">
	<div class="row large">
		<!-- page title -->
		<div class="six columns">
			<h6 class="sub-heading">
				<a id="return-home">
					<span>INICIO</span>
				</a>&nbsp; / &nbsp; 
				<a id="go-porfolio">
					<span>PORTAFOLIO</span>
				</a>&nbsp; / &nbsp;
				FUSSION JEANS
			</h6>
		</div>
		<div class="six columns text-right">
			<!-- project navigation -->
			<ul class="icon-nav">
				<li><a class="ttp_tooltip p_okuma" id="go-view-project-okuma" data-title="Okuma Sushi"><i class="fa fa-arrow-left"></i></a></li>
				<li><a class="ttp_tooltip proyectos" id="go-porfolio" data-title="Proyectos"><i class="fa fa-th"></i></a></li>
				<li><a class="ttp_tooltip p_jovy" id="go-view-project-cavsa" data-title="Ford Cavsa"><i class="fa fa-arrow-right"></i></a></li>
			</ul>
		</div>
	</div>
</div>
<!-- begin project -->
<div id="single-project">
	<div class="work grey stripe-bg">
		<!-- project slider -->
		<div class="two-third">
			<div class="single-project">
				<div class="flexslider full-slider">
					<ul class="slides">
						<li>
						<img src="img/portfolio/folio-fussion1.jpg" alt="Fussion Jeans">
						</li>
						<li>
						<img src="img/portfolio/folio-fussion2.jpg" alt="Fussion Jeans">
						</li>
						<li>
						<img src="img/portfolio/folio-fussion3.jpg" alt="Fussion Jeans">
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- .two-third -->
		<!-- project info -->
		<aside class="one-third grey">
		<div id="sidebar">
			<div class="project-detail">
				<h5 class="stripe-heading">Fussion jeans.</h5>
				<div class="project-content"><p>
						Fussion es una marca de pantalones para dama diseñados y fabricados orgullosamente en México, Medigraf a contrubuido a mejorar su imagen y ser persivida como una marca de calidad a nivel nacional e internacional, estos son algunos de los servicios proporcionados:
					</p>
					<ul class="project-meta">
						<li><i class="mif mif-ps-ws-web-services"></i>Web services. (Analytics, Mantenimiento).</li>
						<li><i class="mif mif-ps-ws-web-services"></i>Desarrollo de sitio web responsive.</li>
						<li><i class="mif mif-ps-bg-branding"></i>Branding.</li>
						<li><i class="mif mif-ps-fa-fotografia"></i>Fotografía. <i>(Ricardo Arreola)</i> </li>
						<li class="link"><i class="fa fa-link"></i><a href="http://fussiongs.com" title="Fussion jeans" target="_blank">Fussion Jeans</a></li>
					</ul>
				</div>
			</div>
		</div>
		</aside>
		<div class="clear">
		</div>
	</div>
</div>
<!-- recent projects -->
<section class="content-block white small">
	<!-- content heading -->
	<div class="row large content-heading">
		<h6>OTROS PROYECTOS</h6>
		<span class="border"></span>
		<div class="clear-20">
		</div>
	</div>
	<div class="row large">
		<!-- begin projects -->
		<ul class="grid times-three alt" id="projects">
			<!-- project  -->
			<li class="grid-item">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-jovy.jpg" alt="project">
				</div>
				<!-- project title and category -->
				<a id="go-view-project-jovyCandy">
				<div class="project-info">
					<h1 class="grid-title">JOVY CANDY</h1>
					<h6 class="project-cat">Diseño &amp; Desarrollo</h6>
				</div>
				</a>
			</div>
			</li>
			<!-- project -->
			<li class="grid-item">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-fcavsa.jpg" alt="project">
				</div>
				<!-- project title and category -->
				<a id="go-view-project-cavsa">
				<div class="project-info">
					<h1 class="grid-title">FORD CAVSA</h1>
					<h6 class="project-cat">Diseño &amp; Desarrollo</h6>
				</div>
				</a>
			</div>
			</li>
			<!-- project -->
			<li class="grid-item">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-okuma.jpg" alt="project">
				</div>
				<!-- project title and category -->
				<a id="go-view-project-okuma">
				<div class="project-info">
					<h1 class="grid-title">OKUMA SUSHI</h1>
					<h6 class="project-cat">Diseño &amp; Desarrollo</h6>
				</div>
				</a>
			</div>
			</li>
		</ul>
		<div class="clear">
		</div>
	</div>
</section>