<div id="crumbs" class="black dark">
	<div class="row large">
		<div class="six columns">
			<!-- page title -->
			<h6 class="sub-heading"><a id="return-home"><span>INICIO</span></a>&nbsp; / &nbsp; NUESTROS PROYECTOS</h6>
		</div>
		<div class="text-right">
			<!--portfolio filters -->
			<div id="options">
				<ul id="filters" class="option-set">
					<li><a href="#" data-filter="*" class="selected">Todos</a></li>
					<li><a href="#" data-filter=".fotografia">Fotografía</a></li>
					<li><a href="#" data-filter=".branding">Branding</a></li>
					<li><a href="#" data-filter=".social-media">Social Media</a></li>
					<li><a href="#" data-filter=".advertising">Web Ads</a></li>
					<li><a href="#" data-filter=".web-services">Web Services</a></li>
					<li><a href="#" data-filter=".mailing">Mailing</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>