<!-- begin projects -->
<section class="work grey stripe-bg">
	<ul class="grid filter times-three basic" id="projects">
		<!-- project remember to add your data-filter as class -->
		<li class="grid-item fotografia branding">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-fussion.jpg" alt="small-fussion-jeans-fotografía" class="zoom-on-hover">
					<div class="icon-box">
						<a class="do_popup" id="go-view-project-fussion" title="Ver Proyecto Fussion Jeans"><i class="fa fa-eye"></i></a>
					</div>
				</div>
				<!-- folio single link -->
				<a id="go-view-project-fussion" title="Ver Proyecto Fussion Jeans">
				<div class="project-info">
					<h1 class="grid-title">FUSSION JEANS</h1>
					<h6 class="project-cat">
						<i class="mif mif-ps-bg-branding mif-lg mif-fw" style="position: relative; top: 3px;"></i> Branding &amp; <i class="mif mif-ps-fa-fotografia mif-lg mif-fw" style="position: relative; top: 3px;"></i> Fotografía
					</h6>
					<!-- project index -->
					<div class="project-index">
						<span class="number">01</span><i class="fa fa-link"></i>
					</div>
				</div>
				</a>
			</div>
		</li>
		<!-- project remember to add your data-filter as class -->
		<li class="grid-item social-media advertising">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-fcavsa1.jpg" alt="small-ford-cavsa-social-media" class="zoom-on-hover">
					<div class="icon-box">
						<!-- prettyphoto link -->
						<a class="do_popup" id="go-view-project-cavsa" title="Ver Proyecto Ford CAVSA"><i class="fa fa-eye"></i></a>
					</div>
				</div>
				<!-- folio single link -->
				<a id="go-view-project-cavsa" title="Ver Proyecto Ford CAVSA">
				<div class="project-info">
					<h1 class="grid-title">FORD CAVSA</h1>
					<h6 class="project-cat">
						<i class="mif mif-ps-sm-social-media mif-lg mif-fw" style="position: relative; top: 3px;"></i> Social Media &amp; <i class="mif mif-ps-ad-advertising mif-lg mif-fw" style="position: relative; top: 3px;"></i> Web Ads

					</h6>
					<!-- project index -->
					<div class="project-index">
						<span class="number">02</span><i class="fa fa-link"></i>
					</div>
				</div>
				</a>
			</div>
		</li>
		<!-- project remember to add your data-filter as class -->
		<li class="grid-item web-services">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-okuma1.jpg" alt="small-okuma-sushi-web-services" class="zoom-on-hover">
					<div class="icon-box">
						<!-- prettyphoto link -->
						<a class="do_popup" id="go-view-project-okuma" title="Ver Proyecto Okuma Sushi"><i class="fa fa-eye"></i></a>
					</div>
				</div>
				<!-- folio single link -->
				<a id="go-view-project-okuma" title="Ver Proyecto Okuma Sushi">
				<div class="project-info">
					<h1 class="grid-title">OKUMA SUSHI</h1>
					<h6 class="project-cat">
						<i class="mif mif-ps-ws-web-services mif-lg mif-fw" style="position: relative; top: 3px;"></i> Web Services
					</h6>
					<!-- project index -->
					<div class="project-index">
						<span class="number">03</span><i class="fa fa-link"></i>
					</div>
				</div>
				</a>
			</div>
		</li>
		<!-- project remember to add your data-filter as class -->
		<li class="grid-item fotografia branding web-services">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-jovy.jpg" alt="small-jovy-candy-fotografia-branding-web-services" class="zoom-on-hover">
					<div class="icon-box">
						<!-- prettyphoto link -->
						<a class="do_popup" id="go-view-project-jovyCandy" title="Ver Proyecto Jovy Candy"><i class="fa fa-eye"></i></a>
					</div>
				</div>
				<!-- folio single link -->
				<a id="go-view-project-jovyCandy" title="Ver Proyecto Jovy Candy">
				<div class="project-info">
					<h1 class="grid-title">JOVY CANDY</h1>
					<h6 class="project-cat"><i class="mif mif-ps-fa-fotografia mif-lg mif-fw" style="position: relative; top: 3px;"></i> Fotografía, <i class="mif mif-ps-bg-branding mif-lg mif-fw" style="position: relative; top: 3px;"></i> Branding &amp; <i class="mif mif-ps-ws-web-services mif-lg mif-fw" style="position: relative; top: 3px;"></i> Web Services</h6>
					<!-- project index -->
					<div class="project-index">
						<span class="number">04</span><i class="fa fa-link"></i>
					</div>
				</div>
				</a>
			</div>
		</li>
		<!-- project remember to add your data-filter as class -->
		<li class="grid-item web-services">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-fussion2.jpg" alt="project" class="zoom-on-hover">
					<div class="icon-box">
						<!-- prettyphoto link -->
						<a class="do_popup" id="go-view-project-fussion" title="Ver Proyecto Fussion Jeans"><i class="fa fa-eye"></i></a>
					</div>
				</div>
				<!-- folio single link -->
				<a id="go-view-project-fussion" title="Ver Proyecto Fussion Jeans">
				<div class="project-info">
					<h1 class="grid-title">FUSSION JEANS</h1>
					<h6 class="project-cat"><i class="mif mif-ps-ws-web-services mif-lg mif-fw" style="position: relative; top: 3px;"></i> Web Services</h6>
					<!-- project index -->
					<div class="project-index">
						<span class="number">05</span><i class="fa fa-link"></i>
					</div>
				</div>
				</a>
			</div>
		</li>
		<!-- project remember to add your data-filter as class -->
		<li class="grid-item advertising">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-fcavsa2.jpg" alt="small-ford-cavsa-advertisign" class="zoom-on-hover">
					<div class="icon-box">
						<!-- prettyphoto link -->
						<a class="do_popup" id="go-view-project-cavsa" title="Ver Proyecto Ford CAVSA"><i class="fa fa-eye"></i></a>
					</div>
				</div>
				<!-- folio single link -->
				<a id="go-view-project-cavsa" title="Ver Proyecto Ford CAVSA">
				<div class="project-info">
					<h1 class="grid-title">FORD CAVSA</h1>
					<h6 class="project-cat"><i class="mif mif-ps-ad-advertising mif-lg mif-fw" style="position: relative; top: 3px;"></i> Web Ads</h6>
					<!-- project index -->
					<div class="project-index">
						<span class="number">06</span><i class="fa fa-link"></i>
					</div>
				</div>
				</a>
			</div>
		</li>
		<!-- project remember to add your data-filter as class -->
		<li class="grid-item fotografia web-services">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-jovy2.jpg" alt="small-jovy-candy-fotografia-web-services" class="zoom-on-hover">
					<div class="icon-box">
						<!-- prettyphoto link -->
						<a class="do_popup" id="go-view-project-jovyCandy" title="Ver Proyecto Jovy Candy"><i class="fa fa-eye"></i></a>
					</div>
				</div>
				<!-- folio single link -->
				<a id="go-view-project-jovyCandy" title="Ver Proyecto Jovy Candy">
				<div class="project-info">
					<h1 class="grid-title">JOVY CANDY</h1>
					<h6 class="project-cat"><i class="mif mif-ps-ws-web-services mif-lg mif-fw" style="position: relative; top: 3px;"></i> Web Services &amp; <i class="mif mif-ps-fa-fotografia mif-lg mif-fw" style="position: relative; top: 3px;"></i> Fotografía</h6>
					<!-- project index -->
					<div class="project-index">
						<span class="number">07</span><i class="fa fa-link"></i>
					</div>
				</div>
				</a>
			</div>
		</li>
		<!-- project remember to add your data-filter as class -->
		<li class="grid-item web-services">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-okuma2.jpg" alt="small-okuma-sushi-web-services" class="zoom-on-hover">
					<div class="icon-box">
						<!-- prettyphoto link -->
						<a class="do_popup" id="go-view-project-okuma" title="Ver Proyecto Okuma Sushi"><i class="fa fa-eye"></i></a>
					</div>
				</div>
				<!-- folio single link -->
				<a id="go-view-project-okuma" title="Ver Proyecto Okuma Sushi">
				<div class="project-info">
					<h1 class="grid-title">OKUMA SUSHI</h1>
					<h6 class="project-cat"><i class="mif mif-ps-ws-web-services mif-lg mif-fw" style="position: relative; top: 3px;"></i> Web Services</h6>
					<!-- project index -->
					<div class="project-index">
						<span class="number">08</span><i class="fa fa-link"></i>
					</div>
				</div>
				</a>
			</div>
		</li>
		<!-- project remember to add your data-filter as class -->
		<li class="grid-item fotografia branding web-services">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-jovy1.jpg" alt="small-jovy-candy-fotografia-branding-web-services" class="zoom-on-hover">
					<div class="icon-box">
						<!-- prettyphoto link -->
						<a class="do_popup" id="go-view-project-jovyCandy" title="Ver Proyecto Jovy Candy"><i class="fa fa-eye"></i></a>
					</div>
				</div>
				<!-- folio single link -->
				<a id="go-view-project-jovyCandy" title="Ver Proyecto Jovy Candy">
				<div class="project-info">
					<h1 class="grid-title">JOVY CANDY</h1>
					<h6 class="project-cat"><i class="mif mif-ps-fa-fotografia mif-lg mif-fw" style="position: relative; top: 3px;"></i> Fotografía, <i class="mif mif-ps-bg-branding mif-lg mif-fw" style="position: relative; top: 3px;"></i> Branding &amp; <i class="mif mif-ps-ws-web-services mif-lg mif-fw" style="position: relative; top: 3px;"></i> Web Services</h6>
					<!-- project index -->
					<div class="project-index">
						<span class="number">09</span><i class="fa fa-link"></i>
					</div>
				</div>
				</a>
			</div>
		</li>
		<!-- project remember to add your data-filter as class -->
		<li class="grid-item branding">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-fussion3.jpg" alt="small-fussion-jeans-branding" class="zoom-on-hover">
					<div class="icon-box">
						<!-- prettyphoto link -->
						<a class="do_popup" id="go-view-project-fussion" title="Ver Proyecto Fussion Jeans"><i class="fa fa-eye"></i></a>
					</div>
				</div>
				<!-- folio single link -->
				<a id="go-view-project-fussion" title="Ver Proyecto Fussion Jeans">
				<div class="project-info">
					<h1 class="grid-title">FUSSION JEANS</h1>
					<h6 class="project-cat"><i class="mif mif-ps-bg-branding mif-lg mif-fw" style="position: relative; top: 3px;"></i> Branding</h6>
					<!-- project index -->
					<div class="project-index">
						<span class="number">10</span><i class="fa fa-link"></i>
					</div>
				</div>
				</a>
			</div>
		</li>
		<!-- project remember to add your data-filter as class -->
		<li class="grid-item branding">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-jovy3.jpg" alt="small-jovy-candy-branding" class="zoom-on-hover">
					<div class="icon-box">
						<!-- prettyphoto link -->
						<a class="do_popup" id="go-view-project-jovyCandy" title="Ver Proyecto Jovy Candy"><i class="fa fa-eye"></i></a>
					</div>
				</div>
				<!-- folio single link -->
				<a id="go-view-project-jovyCandy" title="Ver Proyecto Jovy Candy">
				<div class="project-info">
					<h1 class="grid-title">JOVY CANDY</h1>
					<h6 class="project-cat"><i class="mif mif-ps-bg-branding mif-lg mif-fw" style="position: relative; top: 3px;"></i> Branding</h6>
					<!-- project index -->
					<div class="project-index">
						<span class="number">11</span><i class="fa fa-link"></i>
					</div>
				</div>
				</a>
			</div>
		</li>
		<!-- project remember to add your data-filter as class -->
		<li class="grid-item web-services">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-okuma3.jpg" alt="small-okuma-sushi-web-services" class="zoom-on-hover">
					<div class="icon-box">
						<!-- prettyphoto link -->
						<a class="do_popup" id="go-view-project-okuma" title="Ver Proyecto Okuma Sushi"><i class="fa fa-eye"></i></a>
					</div>
				</div>
				<!-- folio single link -->
				<a id="go-view-project-okuma" title="Ver Proyecto Okuma Sushi">
				<div class="project-info">
					<h1 class="grid-title">OKUMA SUSHI</h1>
					<h6 class="project-cat"><i class="mif mif-ps-ws-web-services mif-lg mif-fw" style="position: relative; top: 3px;"></i> Web Services</h6>
					<!-- project index -->
					<div class="project-index">
						<span class="number">12</span><i class="fa fa-link"></i>
					</div>
				</div>
				</a>
			</div>
		</li>
	</ul>
	<!-- clear floats -->
	<div class="clear">
	</div>
</section>