<!-- first block -->
<div class="first-block post_article" id="slider"></div>
<!-- CONTENT SLIDER -->
<!-- superslides -->
<div id="content-slider"></div>
<!-- section background color -->
<div class="white">
	<div id="content-portfolio"></div>
	<div id="content-services"></div>
</div>
