<!-- first-block -->
<div class="first-block">
</div>
<!-- #crumbs for page title bar and top navigation -->
<div id="crumbs" class="black dark">
	<div class="row large">
		<!-- page title/statement -->
		<h6 class="sub-heading"><a id="return-home"><span>INICIO</span></a>&nbsp; / &nbsp; AVISO LEGAL</h6>
	</div>
</div>
<!-- page content -->
<section class="grey stripe-bg">
	<!-- two third /left side-->
	<div class="two-third white">
		<div id="single-page">
			<div class="content-block">
				<!-- page title / description -->
				<div class="row">
					<h3 class="bold">Derechos de propiedad intelectual</h3>
					<hr class="thin grey">
				</div>
				<div class="row">
					<p>
						El sitio que usted visita contiene derechos de Propiedad Intelectual, incluyendo de manera enunciativa más no limitativa, personajes, marcas, nombres comerciales, textos, obras, diseños, denominaciones, imágenes, palabras, signos y/o figuras que se encuentran protegidos por ley y/o por un registro. En la mayoría de los casos se encuentran registrados ante el Instituto Mexicano de la Propiedad Industrial y/o el Instituto Nacional del Derecho de Autor.
					</p>
					<p>
						No obstante aún cuando algún elemento de ésta página no haya sido registrado o se encuentre en proceso de registro, usted acepta y reconoce que toda la información que aparece en este sitio es propiedad exclusiva de Medigraf o se encuentra bajo la licencia concedida a Medigraf, por lo anterior, usted se obliga a no registrar o tratar de registrar como propio, ante las autoridades competentes, cualquier elemento que aparezca en la presente  página.
					</p>
					<p>
						Cualquier uso no autorizado por parte de un tercero distinto a Medigraf y/o al titular que le otorgo licencia de uso a Medigraf, representa una invasión a los derechos de Propiedad Intelectual de Medigraf y/o su licenciante.
					</p>
					<p>
						Aquella persona que invada dichos derechos se hará acreedora a los daños y perjuicios que se lleguen a provocar, independientemente de las sanciones derivadas de las infracciones y/o delitos en que se puedan incurrir.
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- sidebar -->
	<aside class="one-third grey">
		<div id="sidebar">
			<!-- category widget -->
			<!--<div class="widget">
				<h5 class="stripe-heading">CATEGORÍAS</h5>
				<div class="widget-content">
					<ul class="categories">
						<li><a href="categorias_web_ads.html"><i class="mif mif-ps-ad-advertising" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> WEB ADS</a></li>
						<li><a href="not_found.html"><i class="mif mif-ps-sm-social-media" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> SOCIAL MEDIA</a></li>
						<li><a href="not_found.html"><i class="mif mif-ps-ws-web-services" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> WEB SERVICES</a></li>
						<li><a href="not_found.html"><i class="mif mif-ps-em-email-marketing" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> E-MAIL MARKETING</a></li>
						<li><a href="not_found.html"><i class="mif mif-ps-bg-branding" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> BRANDING</a></li>
						<li><a href="not_found.html"><i class="mif mif-ps-fa-fotografia" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> FOTOGRAFÍA</a></li>
					</ul>
				</div>
			</div>-->
			<!-- recent posts widget -->
			<div class="widget">
				<h5 class="stripe-heading">ENTRADAS RECIENTES</h5>
				<div class="widget-content">
					<ul class="recent-posts">
						<li><a id="view_blog_posicionamiento_web">Posicionamiento Web</a></li>
						<li><a id="view_blog_fotografia">Fotografía</a></li>
						<li><a id="view_blog_identidad_de_marca">Identidad de Marca</a></li>
						<li><a id="view_blog_ads_google_bing_yahoo">Ads Google, Bing y Yahoo!</a></li>
						<li><a id="view_blog_web_analytics">Web Analytics</a></li>
					</ul>
				</div>
			</div>
		</div>
	</aside>
	<!-- clear floats -->
	<div class="clear">
	</div>
</section>