<ul class="slicknav_nav slicknav_hidden" aria-hidden="false" role="menu" style="display: none;">
	<li class="smoothScroll"><a class="href" href="#slider" role="menuitem" tabindex="-1">Inicio</a></li>
	<li class="smoothScroll"><a class="href" href="#portafolio" role="menuitem" tabindex="-1">Portafolio</a></li>
	<li class="smoothScroll"><a class="href" href="#servicios" role="menuitem" tabindex="-1">Servicios</a></li>
	<li class=""><a href="blog.html" role="menuitem" tabindex="-1">Blog</a></li>
	<li class=""><a href="contactanos.html" role="menuitem" tabindex="-1">Contacto</a></li>
</ul>
