<!-- home-slider -->
	<section class="home-slider">
		<!-- begin home slideshow -->
		<div id="slides" class="home">
			<ul class="slides-container">
				<!-- first slide -->
				<li>
					<!-- slide background image -->
					<img src="img/slider/medigraf-slide1.jpg" alt="">
					<div class="black-tint">
					</div>
					<div class="slide-caption dark text-center">
						<!-- add class do-fade to apply fade animation on scroll -->
						<div class="row large do-fade">
							<h1 class="bold large-font font_head_resp">MEDIGRAF</h1>
							<h2 class="font_resp">Nuestro trabajo esta orientado a inspirar gente, optimizar procesos de negocio, incrementar ventas, fidelizar y crear lealtad de los clientes.</h2>
							<!--<div class=" midtoppadding">
								<a href="" class="white line-button"><span>READ ABOUT US</span></a>
							</div>-->
						</div>
					</div>
				</li>
				<!-- second slide -->
				<li>
					<!-- slide background image -->
					<img src="img/slider/medigraf-slide2.jpg" alt="">
					<div class="black-tint">
					</div>
					<div class="slide-caption dark text-center">
						<!-- add class do-fade to apply fade animation on scroll -->
						<div class="row large do-fade">
							<h1 class="block-heading font_head_resp">MARKETING DIGITAL</h1>
							<h2 class="font_resp">Un esfuerzo de Marketing Digital existoso requiere de una campaña web estratégicamente desarrollada y administrada desde el concepto creativo hasta la ejecución y su evaluación.</h2>
						</div>
					</div>
				</li>
				<!-- third slide -->
				<li>
					<!-- slide background image -->
					<img src="img/slider/medigraf-slide3.jpg" alt="">
					<div class="black-tint">
					</div>
					<div class="slide-caption dark text-center">
						<!-- add class do-fade to apply fade animation on scroll -->
						<div class="row large do-fade">
							<h1 class="block-heading font_head_resp">SOCIO DIGITAL</h1>
							<h2 class="font_resp">Medigraf busca ser su socio digital y proporcionar todo el ciclo de servicios para crear, implementar y medir todos los esfuerzos de Marketing en Internet de su empresa.</h2>
							<!--<div class="midtoppadding">
								<a href="" class="white line-button"><span>VIEW OUR SERVICES</span></a>
							</div>-->
						</div>
					</div>
				</li>
			</ul>
			<!-- slideshow direction nav -->
			<nav class="slides-navigation">
				<a href="#" class="next"><i class="fa fa-chevron-right"></i></a>
				<a href="#" class="prev"><i class="fa fa-chevron-left"></i></a>
			</nav>
		</div>
	</section>
<!-- END home-slider -->