<!-- first block -->
<div class="first-block">
</div>
<!-- #crumbs for page title bar and top navigation -->
<div id="crumbs" class="black dark">
	<div class="row large">
		<!-- page title/statement -->
		<div class="six columns">
			<h6 class="sub-heading"><a id="return-home"><span>INICIO</span></a>&nbsp; / &nbsp; <a id="go-blog"><span>ÚLTIMOS POST</span></a>&nbsp; / &nbsp;FOTOGRAFÍA</h6>
		</div>
		<div class="six columns text-right">
			<!-- post navigation -->
			<ul class="icon-nav">
				<li><a class="ttp_tooltip pw" id="view_blog_posicionamiento_web" data-title="Posicionaiento Web"><i class="fa fa-arrow-left"></i></a></li>
				<li><a class="ttp_tooltip blg" id="go-blog" data-title="Blog"><i class="fa fa-th-list"></i></a></li>
				<li><a class="ttp_tooltip im" id="view_blog_identidad_de_marca" data-title="Identidad de Marca"><i class="fa fa-arrow-right"></i></a></li>
			</ul>
		</div>
	</div>
</div>
<section class="grey stripe-bg">
<!-- post content -->
<div class="two-third">
	<div id="single-post">
		<!-- post container -->
		<ul class="grid alt-posts" id="posts">
			<!-- begin post -->
			<li class="post">
			<!-- post  img header -->
			<div class="post-img">
				<img src="img/blog/b2large.jpg" alt="post-img-anthem"/>
			</div>
			<div class="post-info">
				<!-- post title -->
				<h1 class="grid-title">FOTOGRAFÍA</h1>
				<div class="post-meta">
					<span>Categoría: <span><i class="mif mif-ps-fa-fotografia" style="font-size: 19px; position: relative; top: 5px; padding-right: 5px;"></i> FOTOGRAFÍA</span></span>
				</div>
				<div class="post-content">
					<p>
						Fotografía profesional con un equipo humano y tecnológico de primer nivel.
					</p>
					<ul class="disc">
						<li>Fotografía en locación.</li>
						<li>Retoque fotográfico (restauración, monta</li>
						<li>Fotografía publicitaria.</li>
						<li>Fotografía de productos.</li>
					</ul>
					<p>
						Banco de imágenes (más de 10,000 fotografías del medio veterinario y agropecuario)
					</p>
				</div>
			</div>
			</li>
		</ul>
	</div>
</div>
<!-- sidebar -->
<aside class="one-third grey">
<div id="sidebar">
	<!-- category widget -->
	<div class="widget">
		<!--<h5 class="stripe-heading">CATEGORÍAS</h5>
		<div class="widget-content">
			<ul class="categories">
				<li><a href="../not_found.html"><i class="mif mif-ps-ad-advertising" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> WEB ADS</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-sm-social-media" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> SOCIAL MEDIA</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-ws-web-services" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> WEB SERVICES</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-em-email-marketing" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> E-MAIL MARKETING</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-bg-branding" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> BRANDING</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-fa-fotografia" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> FOTOGRAFÍA</a></li>
			</ul>
		</div>-->
	</div>
	<!-- recent posts widget -->
	<div class="widget">
		<h5 class="stripe-heading">ENTRADAS RECIENTES</h5>
		<div class="widget-content">
			<ul class="recent-posts">
				<li><a id="view_blog_posicionamiento_web">Posicionamiento Web</a></li>
				<li><a id="view_blog_fotografia">Fotografía</a></li>
				<li><a id="view_blog_identidad_de_marca">Identidad de Marca</a></li>
				<li><a id="view_blog_ads_google_bing_yahoo">Ads Google, Bing y Yahoo!</a></li>
				<li><a id="view_blog_web_analytics">Web Analytics</a></li>
			</ul>
		</div>
	</div>
</div>
</aside>
<!-- clear floats -->
<div class="clear">
</div>
</section>