<!-- first-block-->
<div class="first-block"></div>
<!-- #crumbs for page title bar and top navigation -->
<div id="crumbs" class="black dark">
	<div class="row large">
		<!-- page title -->
		<div class="six columns">
			<h6 class="sub-heading">
				<a id="return-home">
					<span>INICIO</span>
				</a>&nbsp; / &nbsp;
				<a id="go-porfolio">
					<span>PORTAFOLIO</span>
				</a>&nbsp; / &nbsp;
				PREMIUM BY JLR
			</h6>
		</div>
		<div class="six columns text-right">
			<!-- project navigation -->
			<ul class="icon-nav">
				<li>
					<a class="ttp_tooltip--bottom p_ldr" id="go-view-project-landrover-gdl" data-title="Land Rover GDL">
						<i class="fa fa-arrow-left"></i>
					</a>
				</li>
				<li>
					<a class="ttp_tooltip--bottom proyectos" id="go-porfolio" data-title="Proyectos">
						<i class="fa fa-th"></i>
					</a>
				</li>
				<li>
					<a class="ttp_tooltip--bottom p_fussion" id="go-view-project-fussion" data-title="Fussion Jeans">
						<i class="fa fa-arrow-right"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- begin project -->
<div id="single-project">
	<div class="work grey stripe-bg">
		<!-- project slider -->
		<div class="two-third">
			<div class="single-project">
				<div class="flexslider full-slider">
					<ul class="slides">
						<li>
							<img src="img/portfolio/folio-premium-by-jlr-web1.jpg" alt="PREMIUM BY JLR folio-premium-by-jlr-web1.jpg">
						</li>
						<li>
							<img src="img/portfolio/folio-premium-by-jlr-web2.jpg" alt="PREMIUM BY JLR folio-premium-by-jlr-web2.jpg">
						</li>
						<li>
							<img src="img/portfolio/folio-premium-by-jlr-social.jpg" alt="PREMIUM BY JLR folio-premium-by-jlr-social.jpg">
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- .two-third -->
		<!-- project info -->
		<aside class="one-third grey">
		<div id="sidebar">
			<div class="project-detail">
				<h5 class="stripe-heading">Premium By JLR.</h5>
				<div class="project-content">
					<p>
						Seminuevos Premium es un área importante de la agencia Jaguar Land Rover Guadalajara, al ser una marca que comercializa autos seminuevos premium, esto debe ser reflejado en su sitio web y Redes Sociales, es ahí donde Medigraf hace su labor en conjunto con la agencia, estos son algunos de los servicios proporcionados:
					</p>
					<ul class="project-meta">
						<li><i class="mif mif-ps-ad-advertising"></i>Ads (Facebook).</li>
						<li><i class="mif mif-ps-sm-social-media"></i>Social Media.</li>
						<li><i class="mif mif-ps-ws-web-services"></i>Web Services</li>
						<li class="link"><i class="fa fa-link"></i><a href="http://eurocavsa.com.mx/premium_by_jlr/" title="Okuma Sushi" target="_blank">Premium By JLR</a></li>
					</ul>
				</div>
			</div>
		</div>
		</aside>
		<div class="clear">
		</div>
	</div>
</div>
<!-- recent projects -->
<section class="content-block white small">
	<!-- content heading -->
	<div class="row large content-heading">
		<h6>OTROS PROYECTOS</h6>
		<span class="border"></span>
		<div class="clear-20">
		</div>
	</div>
	<div class="row large">
		<!-- begin projects -->
		<ul class="grid times-three alt" id="projects">
			<!-- project -->
			<li class="grid-item">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-jaguar-gdl.jpg" alt="medigraf-small-jaguar-gdl.jpg">
				</div>
				<!-- project title and category -->
				<a id="go-view-project-jaguar-gdl">
				<div class="project-info">
					<h1 class="grid-title">JAGUAR GUADALAJARA</h1>
					<h6 class="project-cat">Diseño &amp; Desarrollo</h6>
				</div>
				</a>
			</div>
			</li>
			<!-- project -->
			<li class="grid-item">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-landrover-gdl.jpg" alt="medigraf-small-landrover-gdl.jpg">
				</div>
				<!-- project title and category -->
				<a id="go-view-project-landrover-gdl">
				<div class="project-info">
					<h1 class="grid-title">LAND ROVER GUADALAJARA</h1>
					<h6 class="project-cat">Diseño &amp; Desarrollo</h6>
				</div>
				</a>
			</div>
			</li>
			<!-- project  -->
			<li class="grid-item">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-jovy.jpg" alt="medigraf-small-jovy.jpg">
				</div>
				<!-- project title and category -->
				<a id="go-view-project-jovy-candy">
				<div class="project-info">
					<h1 class="grid-title">JOVY CANDY</h1>
					<h6 class="project-cat">Diseño &amp; Desarrollo</h6>
				</div>
				</a>
			</div>
			</li>
		</ul>
		<div class="clear">
		</div>
	</div>
</section>
