<!-- first block -->
<div class="first-block"></div>
<!-- #crumbs for page title bar and top navigation -->
<div id="crumbs" class="black dark">
	<div class="row large">
		<!-- page title/statement -->
		<div class="six columns">
			<h6 class="sub-heading"><a id="return-home"><span>INICIO</span></a>&nbsp; / &nbsp; <a id="go-blog"><span>ÚLTIMOS POST</span></a>&nbsp; / &nbsp;SEO (POSICIONAMIENTO WEB ORGÁNICO)</h6>
		</div>
		<div class="six columns text-right">
			<!-- post navigation -->
			<ul class="icon-nav">
				<li><a class="ttp_tooltip wa" id="view_blog_web_analytics" data-title="Web Analitics"><i class="fa fa-arrow-left"></i></a></li>
				<li><a class="ttp_tooltip blg" id="go-blog" data-title="Blog"><i class="fa fa-th-list"></i></a></li>
				<li><a class="ttp_tooltip fo" id="view_blog_fotografia" data-title="Fotografía"><i class="fa fa-arrow-right"></i></a></li>
			</ul>
		</div>
	</div>
</div>
<section class="grey stripe-bg">
<!-- post content -->
<div class="two-third">
	<div id="single-post">
		<!-- post container -->
		<ul class="grid alt-posts" id="posts">
			<!-- begin post -->
			<li class="post">
			<!-- post  img header -->
			<div class="post-img">
				<img src="img/blog/b5large.jpg" alt="post-img-anthem"/>
			</div>
			<div class="post-info">
				<!-- post title -->
				<h1 class="grid-title">SEO (Posicionamiento web orgánico)</h1>
				<div class="post-meta">
					<span>Categoría: <span><i class="mif mif-ps-ws-web-services" style="font-size: 19px; position: relative; top: 5px; padding-right: 5px;"></i> WEB SERVICES</span></span>
				</div>
				<div class="post-content">
					<p>
						Creamos soluciones de marketing online diseñadas para que usted obtenga más clientes y por consiguiente más ventas. Sabemos de la importancia de las visitas a su sitio Web, ya que además de ser agradable y contener información oportuna, es necesario también que tenga tráfico orientado al producto o servicio que se ofrece.
					</p>
					<p>
						Aproximadamente el 15% del tráfico en su sitio llega de forma directa, es decir que el usuario pone en su navegador www.suempresa.com; así también un 5% proviene de otros vínculos ligados a su sitio y el 80% proviene de motores de búsqueda como Google, Yahoo y MSN, entre otros.
					</p>
					<h3 class="purple-text">SEO (Search Engine Optimization)</h3>
					<p>
						Se refiere al proceso de mejorar u optimizar un sitio web para asegurarse que esta estructurado de tal forma que permita a los motores de búsqueda (Google, Yahoo, Bing) lean su contenido más fácilmente.
					</p>
					<p>
						El objetivo del SEO es hacer que la dirección del sitio del cliente aparezca en las páginas de resultado de un buscador cuando los usuarios buscan términos específicos asociados al cliente. Hay múltiples factores que son tomados en cuenta que ayudan a las buscadores para que desplieguen la respuesta más relevante a una solicitud o búsqueda; el conocer estos factores nos habilita para ponerlos en favor del tráfico del sitio del cliente .
					</p>
					<!-- content image -->
					<!--<figure class="content-img">-->
						<!-- lightbox link --><!--
						<a class="do_popup" rel="prettyPhoto" href="preview/b4.jpg" title="image title"><i class="fa fa-arrows"></i></a>
						<img src="preview/b4.jpg"/>
						<figcaption>
							Content Image Caption - In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
						</figcaption>
					</figure>-->
					<h4 class="purple-text">Servicios de SEO</h4>
					<h5 class="purple-text">Un análisis inicial de Benchmarking.</h5>
					<p>
						Recomendamos iniciar las campañas de marketing con una auditoria de SEO la cual incluye:
					</p>
					<p>
						Una revisión completa del sitio web con el objetivo de asegurar el cumplimento de las mejores prácticas y tener el sitio correctamente indexado en todas los motores de búsqueda.
					</p>
					<h5 class="purple-text">Investigación de keywords y optimización.</h5>
					<p>
						Conociendo cual es el targeting (segmento de mercado) es el inicio de la mayoría de las campañas de SEO, donde hay varios factores a considerar cuando definimos una estrategia de keywords (palabres clave) y targets.
					</p>
					<p>
						Una constante optimización, análisis y re-targeting del sitio siempre será necesaria.
					</p>
					<h5 class="purple-text">Análisis del contenido del sitio y creación de contenido</h5>
					<h6 class="purple-text">Estrategia de contenido.</h6>
					<p>
						El contenido y las páginas de acceso principal (Landing pages) del sitio forman los elementos de construcción del SEO del sitio. Por lo que es necesaria un revisión profunda de la oferta en línea del contenido con la estrategia de keywords definida para cada caso. Una vez hecho esto en un SEO se requiere crear una lista de páginas con orden relevancia para el cliente, esto conlleva a crear estas páginas o aplicar las mejores prácticas en ellas.
					</p>
					<!---->
				</div>
			</div>
			</li>
		</ul>
	</div>
</div>
<!-- sidebar -->
<aside class="one-third grey">
<div id="sidebar">
	<!-- category widget -->
	<div class="widget">
		<!--<h5 class="stripe-heading">CATEGORÍAS</h5>
		<div class="widget-content">
			<ul class="categories">
				<li><a href="../not_found.html"><i class="mif mif-ps-ad-advertising" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> WEB ADS</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-sm-social-media" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> SOCIAL MEDIA</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-ws-web-services" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> WEB SERVICES</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-em-email-marketing" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> E-MAIL MARKETING</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-bg-branding" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> BRANDING</a></li>
				<li><a href="../not_found.html"><i class="mif mif-ps-fa-fotografia" style="font-size: 19px; position: relative; top: 5px; padding-right: 20px;"></i> FOTOGRAFÍA</a></li>
			</ul>
		</div>-->
	</div>
	<!-- recent posts widget -->
	<div class="widget">
		<h5 class="stripe-heading">ENTRADAS RECIENTES</h5>
		<div class="widget-content">
			<ul class="recent-posts">
				<li><a id="view_blog_posicionamiento_web">Posicionamiento Web</a></li>
				<li><a id="view_blog_fotografia">Fotografía</a></li>
				<li><a id="view_blog_identidad_de_marca">Identidad de Marca</a></li>
				<li><a id="view_blog_ads_google_bing_yahoo">Ads Google, Bing y Yahoo!</a></li>
				<li><a id="view_blog_web_analytics">Web Analytics</a></li>
			</ul>
		</div>
	</div>
</div>
</aside>
<!-- clear floats -->
<div class="clear">
</div>
</section>