<!--second section / projects -->
<section class="work">
	<!-- begin projects -->
		<ul class="grid times-four alt" id="projects">
			<!-- project -->
			<li class="grid-item">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-fussion.jpg" alt="small-fussion-jeans" class="zoom-on-hover">
				</div>
				<!-- view more link -->
				<a id="go-view-project-fussion">
				<!-- project info -->
				<div class="project-info">
					<h1 class="grid-title">FUSSION JEANS</h1>
					<h6 class="project-cat">Dise単o &amp; Desarrollo</h6>
				</div>
				</a>
			</div>
			</li>
			<!-- project -->
			<li class="grid-item">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-fcavsa.jpg" alt="small-ford-cavsa" class="zoom-on-hover">
				</div>
				<!-- view more link -->
				<a id="go-view-project-cavsa">
				<!-- project info -->
				<div class="project-info">
					<h1 class="grid-title">FORD CAVSA</h1>
					<h6 class="project-cat">Dise単o &amp; Desarrollo</h6>
				</div>
				</a>
			</div>
			</li>
			<!-- project -->
			<li class="grid-item">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-okuma.jpg" alt="small-okuma-sushi" class="zoom-on-hover">
				</div>
				<!-- view more link -->
				<a id="go-view-project-okuma">
				<!-- project info -->
				<div class="project-info">
					<h1 class="grid-title">OKUMA</h1>
					<h6 class="project-cat">Dise単o &amp; Desarrollo</h6>
				</div>
				</a>
			</div>
			</li>
			<!-- project -->
			<li class="grid-item">
			<div class="grid-project">
				<!-- project image -->
				<div class="img-box">
					<img src="img/portfolio/small/medigraf-small-jovy.jpg" alt="small-jovy-candy" class="zoom-on-hover">
				</div>
				<!-- view more link -->
				<a id="go-view-project-jovyCandy">
				<!-- project info -->
				<div class="project-info">
					<h1 class="grid-title">JOVY CANDY</h1>
					<h6 class="project-cat">Dise単o &amp; Desarrollo</h6>
				</div>
				</a>
			</div>
			</li>
		</ul>
	<!-- end projects -->
	<!-- clear floats -->
	<div class="clear"></div>
</section>
<!-- call to action block -->
<div class="action-block purple">
	<div class="row">
		<div class="twelve columns text-center">
			<h3 class="white-text"><a id="go-view-projects" class="white line-button"><span>Ver todos nuestros Proyectos</span></a>
			</h3>
		</div>
	</div>
</div>