/* Typography */
 h1, h2, h3, h4, h5, h6 {
    font-family:"Open Sans";
    font-weight: 300;
    color: #444444;
    text-rendering: optimizeLegibility;
    padding-top: 0.273em;
    line-height: 1.15538em;
    padding-bottom: 0.273em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #d04526;
}
@media only screen and (max-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
        word-wrap: break-word;
    }
}
h1 {
    font-size: 68px;
    font-size: 4.25rem;
}
h1.xlarge {
    font-size: 110px;
    font-size: 6.875rem;
}
h1.xxlarge {
    font-size: 126px;
    font-size: 7.875rem;
}
h1.absurd {
    font-size: 177px;
    font-size: 11.0625rem;
}
h2 {
    font-size: 42px;
    font-size: 2.625rem;
}
h3 {
    font-size: 30px;
    font-size: 1.875rem;
}
h4 {
    font-size: 26px;
    font-size: 1.625rem;
}
h5 {
    font-size: 18px;
    font-size: 1.125rem;
}
h6 {
    font-size: 16px;
    font-size: 1rem;
}
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 42px;
        font-size: 2.625rem;
    }
    h2 {
        font-size: 36px;
        font-size: 2.25rem;
    }
}
.subhead {
    color: #777;
    font-weight: normal;
    margin-bottom: 20px;
}