/*=====================================================
 Lists  ======================================================*/
 ul, ol {
    margin-bottom: 0.273em;
}
ul {
    list-style: none outside;
}
ol {
    list-style: decimal;
    margin-left: 30px;
}
ul.square, ul.circle, ul.disc {
    margin-left: 25px;
}
ul.square {
    list-style: square outside;
}
ul.circle {
    list-style: circle outside;
}
ul.disc {
    list-style: disc outside;
}
ul ul {
    margin: 4px 0 5px 25px;
}
ol ol {
    margin: 4px 0 5px 30px;
}
li {
    padding-bottom: 0.273em;
}
ul.large li {
    line-height: 21px;
}
dl dt {
    font-weight: bold;
    font-size: 16px;
    font-size: 1rem;
}
@media only screen and (max-width: 768px) {
    ul, ol, dl, p {
        text-align: left;
    }
}