/* ------------------------------------------------------------
 * [STYLE]	HEADER
** ------------------------------------------------------------ */
	header.main {
		padding-bottom:15px;
		position:fixed;
		width:340px;
		min-height:100vh;
		display:block;
		z-index:6700;
		background:rgba(19,19,19,1);
		transform:translate(-340px);
		-webkit-transform:translate(-340px);
		-moz-transform:translate(-340px);
		-ms-transform:translate(-340px);
		-o-transform:translate(-340px);
		-webkit-transition:all 600ms cubic-bezier(0.645,0.045,0.355,1.000);
		-moz-transition:all 600ms cubic-bezier(0.645,0.045,0.355,1.000);
		-o-transition:all 600ms cubic-bezier(0.645,0.045,0.355,1.000);
		transition:all 600ms cubic-bezier(0.645,0.045,0.355,1.000);
		/* easeInOutCubic */
		-webkit-transition-timing-function:cubic-bezier(0.645,0.045,0.355,1.000);
		-moz-transition-timing-function:cubic-bezier(0.645,0.045,0.355,1.000);
		-o-transition-timing-function:cubic-bezier(0.645,0.045,0.355,1.000);
		transition-timing-function:cubic-bezier(0.645,0.045,0.355,1.000);
		/* easeInOutCubic */
	}
	header.main.active {
		transform:translate(80px);
		-webkit-transform:translate(80px);
		-moz-transform:translate(80px);
		-ms-transform:translate(80px);
		-o-transform:translate(80px);
		-webkit-transition:all 450ms cubic-bezier(0.250,0.460,0.450,0.940);
		-moz-transition:all 450ms cubic-bezier(0.250,0.460,0.450,0.940);
		-o-transition:all 450ms cubic-bezier(0.250,0.460,0.450,0.940);
		transition:all 450ms cubic-bezier(0.250,0.460,0.450,0.940);
		/* easeOutQuad */
		-webkit-transition-timing-function:cubic-bezier(0.250,0.460,0.450,0.940);
		-moz-transition-timing-function:cubic-bezier(0.250,0.460,0.450,0.940);
		-o-transition-timing-function:cubic-bezier(0.250,0.460,0.450,0.940);
		transition-timing-function:cubic-bezier(0.250,0.460,0.450,0.940);
		/* easeOutQuad */
	}
	header.main .info {
		padding:60px 30px 25px;
		color: #fff;
	}
	.trigger {
		width:80px;
		height:100%;
		position:fixed;
		padding-top:15px;
		background:#111;
		z-index:7000;
		-webkit-transition:all 600ms cubic-bezier(0.645,0.045,0.355,1.000);
		-moz-transition:all 600ms cubic-bezier(0.645,0.045,0.355,1.000);
		-o-transition:all 600ms cubic-bezier(0.645,0.045,0.355,1.000);
		transition:all 600ms cubic-bezier(0.645,0.045,0.355,1.000);
		/* easeInOutCubic */
		-webkit-transition-timing-function:cubic-bezier(0.645,0.045,0.355,1.000);
		-moz-transition-timing-function:cubic-bezier(0.645,0.045,0.355,1.000);
		-o-transition-timing-function:cubic-bezier(0.645,0.045,0.355,1.000);
		transition-timing-function:cubic-bezier(0.645,0.045,0.355,1.000);
		/* easeInOutCubic */
		overflow:hidden;
	}
	.trigger-box {
		width:40px;
		height:40px;
		overflow:hidden;
		margin: 0 auto;
	}
	.trigger.active {
		background:#1F2020;
		/* background:#555152;*/
		-webkit-transition:all 600ms cubic-bezier(0.645,0.045,0.355,1.000);
		-moz-transition:all 600ms cubic-bezier(0.645,0.045,0.355,1.000);
		-o-transition:all 600ms cubic-bezier(0.645,0.045,0.355,1.000);
		transition:all 600ms cubic-bezier(0.645,0.045,0.355,1.000);
		/* easeInOutCubic */
		-webkit-transition-timing-function:cubic-bezier(0.645,0.045,0.355,1.000);
		-moz-transition-timing-function:cubic-bezier(0.645,0.045,0.355,1.000);
		-o-transition-timing-function:cubic-bezier(0.645,0.045,0.355,1.000);
		transition-timing-function:cubic-bezier(0.645,0.045,0.355,1.000);
		/* easeInOutCubic */
	}
	.trigger i {
		font-size:38px;
		color:#fff;
		display:block;
		height:40px;
		width:40px;
		text-align:center;
		-webkit-transition-duration:.4s;
			-moz-transition-duration:.4s;
			-o-transition-duration:.4s;
			-ms-transition-duration:.4s;
	}
	.trigger a {
		cursor:pointer;
	}
	.trigger-box i.fa-bars {
		margin-top:-40px;
		-webkit-transition-duration:.4s;
			-moz-transition-duration:.4s;
			-o-transition-duration:.4s;
			-ms-transition-duration:.4s;
	}
	.trigger-box i.fa-bars.active {
		margin-top:0px;
		-webkit-transition-duration:.4s;
			-moz-transition-duration:.4s;
			-o-transition-duration:.4s;
			-ms-transition-duration:.4s;
	}
	.back-to-top {
		position:fixed;
		bottom:50px;
		-webkit-transform:translateY(100px);
		-moz-transform:translateY(100px);
		-ms-transform:translateY(100px);
		-o-transform:translateY(100px);
		left:18px;
		-webkit-transition-duration:1s !important;
			-moz-transition-duration:1s;
			-o-transition-duration:1s;
			-ms-transition-duration:1s;
	}
	.back-to-top.active {
		-webkit-transform:translateY(0px);
		-moz-transform:translateY(0px);
		-ms-transform:translateY(0px);
		-o-transform:translateY(0px);
		bottom:15px;
		-webkit-transition-duration:.8s;
			-moz-transition-duration:.8s;
			-o-transition-duration:.8s;
			-ms-transition-duration:.8s;
	}
	.logo {
		margin-bottom:30px;
		max-width: 225px;
		margin: 0 auto;
	}
	.logo img {
		display:block;
		margin: 0 auto;
	}
/* ------------------------------------------------------------
 * [STYLE]	HEADER -> NAVIGATION
** ------------------------------------------------------------ */
	nav.main-nav ul.site-nav li {
		padding:15px 30px 15px;
		border-bottom:1px solid #222;
		-webkit-transition-duration:0.3s;
		-moz-transition-duration:0.3s;
		-ms-transition-duration:0.3s;
		-o-transition-duration:0.3s;
		clear: both;
	}
	nav.main-nav ul.site-nav li:hover {
		/* background:#111;*/
		-webkit-transition-duration:0.3s;
		-moz-transition-duration:0.3s;
		-ms-transition-duration:0.3s;
		-o-transition-duration:0.3s;
	}
	.main-nav ul.site-nav li.active a,.main-nav ul li:hover a {
		-webkit-transition-duration:.3s;
		-moz-transition-duration:.3s;
		-o-transition-duration:.3s;
		-ms-transition-duration:.3s;
	}
	.main-nav ul.site-nav li a.toggle {
		position:relative;
	}
	nav.main-nav ul.site-nav li a.toggle:after {
		content:'\f067';
		font-family:fontawesome;
		float:right;
		position:absolute;
		right:0;
		top:0;
		font-size:14px;
		color:#555;
		-webkit-transition-duration:0.1s;
		-moz-transition-duration:0.1s;
		-ms-transition-duration:0.1s;
		-o-transition-duration:0.1s;
	}
	.main-nav ul.site-nav li a.toggle.active:after {
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-webkit-transition-duration:0.1s;
		-moz-transition-duration:0.1s;
		-ms-transition-duration:0.1s;
		-o-transition-duration:0.1s;
	}
	nav.main-nav ul.site-nav li a {
		font-size:20px;
		font-weight:700;
		color:#fff;
		text-transform:uppercase;
		-webkit-transition-duration:.3s;
		-moz-transition-duration:.3s;
		-o-transition-duration:.3s;
		-ms-transition-duration:.3s;
		display:block;
	}
	.main-nav ul.site-nav li a span {
		display:block;
		font-size:13px;
		font-weight:normal;
		text-transform: capitalize;
	}
/* ------------------------------------------------------------
 * [STYLE]	HEADER -> MAIN MENU CHILD ITEMS
** ------------------------------------------------------------ */
	.main-nav .drawer {
		margin:0px;
		background:none;
		box-shadow:0px 0px;
	}
	.main-nav ul.site-nav ul li {
		font-size:14px;
		font-weight:600;
		border-bottom:0px;
		padding:0px 25px;
		margin-top:15px;
	}
	.main-nav ul.site-nav li.active ul li a,.main-nav ul.site-nav ul li a,.main-nav ul.site-nav li:hover ul li a {
		font-size:14px;
		color:#888;
	}
	.main-nav ul.site-nav ul a:before {
		content:'\f105';
		font-family:fontawesome;
		display:inline-block;
		margin-right:10px;
		color:#333;
	}
	.main-nav ul.site-nav li ul li:hover a {
		color:#fff;
	}
	.main-nav ul.site-nav li a span {
		color:#718592;
	}
	header.custom-scroll {
		height:100%;
		overflow:hidden;
	}
	#header-scrollarea {
		height: 100%;
	}

	.site-nav li ul li.active a{
		color:#fff !important;
	}