/* ------------------------------------------------------------
 * [STYLE]	PADDING CLASSES
 * ------------------------------------------------------------ */
 .nopadding {
	padding:0 !important;
}
.notoppadding {
	padding-top:0px;
}
.nobottompadding {
	padding-bottom:0px;
}
.smallpadding {
	padding-top:10px !important;
	padding-bottom:10px !important;
}
.smallsidepadding {
	padding-left:10px !important;
	padding-right:10px !important;
}
.smalltoppadding {
	padding-top:10px !important;
}
.smallbottompadding {
	padding-bottom:10px !important;
}
.leftpadding {
	padding-left:20px !important;
}
.rightpadding {
	padding-right:20px !important;
}
.midpadding {
	padding-top:20px !important;
	padding-bottom:20px !important;
}
.midsidepadding {
	padding-left:20px;
	padding-right:20px;
}
.midtoppadding {
	padding-top:20px !important;
}
.midbottompadding {
	padding-bottom:20px !important;
}
.bigpadding {
	padding-top:50px !important;
	padding-bottom:50px !important;
}
.bigsidepadding {
	padding-left:50px !important;
	padding-right:50px !important;
}
.bigtoppadding {
	padding-top:50px !important;
}
.bigbottompadding {
	padding-bottom:50px !important;
}
.largepadding {
	padding-top:100px !important;
	padding-bottom:100px !important;
}
.largebottompadding {
	padding-bottom:100px !important;
}
.largetoppadding {
	padding-top:100px !important;
}
.nomargin {
	margin: 0px auto !important;
}