/*twitter*/
span.tweet_time {
	margin-top:14px;
	font-size:14px;
	display:block;
	text-transform:uppercase;
}
.tweet_time a {
	color:rgb(165,165,165);
}
span.tweet_text {
	font-size:18px;
	display:block;
	margin-top:12px;
}
.dark .tweet_text {
	color: #fff;
}